.templateb
  margin 55px 0 170px 0

  &-cover
    background-position center
    background-repeat no-repeat
    background-size cover
    height auto
    padding-bottom 150px

    &-content
      margin 0 auto
      padding 40px 0 0 0
      width 68.7%

    &-title
      color $whiteT1
      font-size 11px
      letter-spacing 2.5px
      line-height 20px
      margin 9px 0
      text-transform uppercase

    &-paragraph
      color $whiteT1
      font-size 13px
      letter-spacing 0.8px
      line-height 18px
      margin-bottom 15px
      width 345px

  .return
    color $whiteT1
    font-size 11px
    letter-spacing 1px
    text-transform uppercase

    &-container
      padding 30px 0 0 40px

    & .semi-triangle
      height 8px
      margin-right 15px
      width 5px

  &-data
    margin-bottom 100px

    &-container
      display flex
      flex-direction row
      justify-content space-between
      margin 0 auto 0 auto
      width 68.7%

    &-img
      display block
      margin -133px auto 0 auto
      width 93%

    &-title
      color $blackT3
      font-size 13px
      letter-spacing 0.7px
      margin-bottom 15px

    &-desc
      color $blackT3
      font-size 11px
      letter-spacing 0.7px
      line-height 20px
      margin-top 12px
      width 366px

    &-ul
      list-style none
      margin 0
      padding 0

      & > .templateb-data-desc
        margin-top 0

    &-btns
      display flex
      flex-direction row
      margin-top 5px

      & > a:first-child
        margin-right 15px


  /*Alianza Swe-mex project*/
  &.alianza
    .templateb-cover
      background-image url("/img/projects/alianza-cover.jpg")

    .templateb-logo
      height 51px
      width 97px

  /*Aromaria project*/
  &.aromaria
    .templateb-cover
      background-image url("/img/projects/aromaria-cover.jpg")

    .templateb-logo
      height 14px
      width 121px

  /*Little me project*/
  &.littleme
    .templateb-cover
      background-image url("/img/projects/littleme-cover.jpg")

    .templateb-logo
      height 26px
      width 85px

  /*ICAN project*/
  &.ican
    .templateb-cover
      background-image url("/img/projects/ican-cover.jpg")

    .templateb-logo
      height 23px
      width 207px

  /*98 Coast Av project*/
  &.coastav
    .templateb-cover
      background-image url("/img/projects/98coast-cover.jpg")

    .templateb-logo
      height 22px
      width 112px

  /*MC Cosmetics project*/
  &.mccosmetics
    .templateb-cover
      background-image url("/img/projects/mccosmetics-cover.jpg")

    .templateb-logo
      height 18px
      width 154px

  /*Loretta project*/
  &.loretta
    .templateb-cover
      background-image url("/img/projects/loretta-cover.jpg")

    .templateb-logo
      height 14px
      width 129px

  /*Entos project*/
  &.entos
    .templateb-cover
      background-image url("/img/projects/entos-cover.jpg")

    .templateb-logo
      height 22px
      width 90px

  /*Don Dinero project*/
  &.dondinero
    .templateb-cover
      background-image url("/img/projects/dondinero-cover.jpg")

    .templateb-logo
      height 18px
      width 131px

  /*Sic project*/
  &.sic
    .templateb-cover
      background-image url("/img/projects/sic-cover.jpg")

    .templateb-logo
      height 28px
      width 83px

  /*Promor project*/
  &.promor
    .templateb-cover
      background-image url("/img/projects/promor-cover.jpg")

    .templateb-logo
      height 28px
      width 99px

  /*Piktia project*/
  &.piktia
    .templateb-cover
      background-image url("/img/projects/piktia-cover.jpg")

    .templateb-logo
      height 30px
      width 91px

  /*Coral Beach project*/
  &.coralbeach
    .templateb-cover
      background-image url("/img/projects/coralbeach-cover.jpg")

    .templateb-logo
      height 31px
      width 80px

  /*Aventarte project*/
  &.aventarte
    .templateb-cover
      background-image url("/img/projects/aventarte-cover.jpg")

    .templateb-logo
      height 18px
      width 120px

  /*Dimsa project*/
  &.dimsa
    .templateb-cover
      background-image url("/img/projects/dimsa-cover.jpg")

    .templateb-logo
      height 39px
      width 76px

  /*Wicore project*/
  &.wicore
    .templateb-cover
      background-image url("/img/projects/wicore-cover.jpg")

    .templateb-logo
      height 21px
      width 98px

  /*The Aerin Company project*/
  &.aerincompany
    .templateb-cover
      background-image url("/img/projects/aerincompany-cover.png")

    .templateb-logo
      height 36px
      width 111px

  /*Aguaviento project*/
  &.aguaviento
    .templateb-cover
      background-image url("/img/projects/aguaviento-cover.jpg")

    .templateb-logo
      height 18px
      width 115px

  /*Bricksa project*/
  &.bricksa
    .templateb-cover
      background-image url("/img/projects/bricksa-cover.jpg")

    .templateb-logo
      height 50px
      width 81px

  /*Wellness project*/
  &.wellness
    .templateb-cover
      background-image url("/img/projects/wellness-cover.jpg")

    .templateb-logo
      height 32px
      width 87px

  /*Finacero project*/
  &.finacero
    .templateb-cover
      background-image url("/img/projects/finacero-cover.jpg")

    .templateb-logo
      height 14px
      width 133px

  /*Rancho las Flores project*/
  &.rancholasflores
    .templateb-cover
      background-image url("/img/projects/rancholasflores-cover.jpg")

    .templateb-logo
      height 40px
      width 87px

  /*RGV Soluciones project*/
  &.rgv
    .templateb-cover
      background-image url("/img/projects/rgv-cover.jpg")

    .templateb-logo
      height 34px
      width 69px

  /*Tabby Beans project*/
  &.tabbybeans
    .templateb-cover
      background-image url("/img/projects/tabbybeans-cover.jpg")

    .templateb-logo
      height 51px
      width 47.17px

  /*RER Energy project*/
  &.rer
    .templateb-cover
      background-image url("/img/projects/rer-cover.jpg")

    .templateb-logo
      height 30px
      width 94px

  /*Las Mezcas project*/
  &.lasmezcas
    .templateb-cover
      background-image url("/img/projects/lasmezcas-cover.jpg")

    .templateb-logo
      height 39px
      width 87px

  /*Fortia project*/
  &.fortia
    .templateb-cover
      background-image url("/img/projects/fortia-cover.jpg")

    .templateb-logo
      height 29px
      width 101.5px

  /*Endless project*/
  &.endless
    .templateb-cover
      background-image url("/img/projects/endless-cover.jpg")

    .templateb-logo
      height 26px
      width 88px

  /*Dream Water Shop project*/
  &.dreamwatershop
    .templateb-cover
      background-image url("/img/projects/dreamwatershop-cover.jpg")

    .templateb-logo
      height 43px
      width 80px

  /*Loquay project*/
  &.loquay
    .templateb-cover
      background-image url("/img/projects/loquay-cover.jpg")

    .templateb-logo
      height 22px
      width 84px

  /*Indots project*/
  &.indots
    .templateb-cover
      background-image url("/img/projects/indots-cover.jpg")

    .templateb-logo
      height 29px
      width 89px

  /*Florella project*/
  &.florella
    .templateb-cover
      background-image url("/img/projects/florella-cover.jpg")

    .templateb-logo
      height 28px
      width 105px

  /*Atelier project*/
  &.atelier
    .templateb-cover
      background-image url("/img/projects/atelier-cover.jpg")

    .templateb-logo
      height 43px
      width 92px

  /*Neopraxis project*/
  &.neopraxis
    .templateb-cover
      background-image url("/img/projects/neopraxis-cover.jpg")

    .templateb-logo
      height 16px
      width 114px

  /*Workin Chapultepec project*/
  &.workin
    .templateb-cover
      background-image url("/img/projects/workin-cover.jpg")

    .templateb-logo
      height 27px
      width 88px

  /*iiDEA project*/
  &.iidea
    .templateb-cover
      background-image url("/img/projects/iidea-cover.jpg")

    .templateb-logo
      height 18px
      width 74px

  /*Begonia Fernandez project*/
  &.begonia
    .templateb-cover
      background-image url("/img/projects/begonia-cover.jpg")

    .templateb-logo
      height 33px
      width 21px

  /*Rocha Landero Abogados project*/
  &.rlabogados
    .templateb-cover
      background-image url("/img/projects/rochalandero-cover.jpg")

    .templateb-logo
      height 35px
      width 29px

  /*Nutriologa Ale GP project*/
  &.alegp
    .templateb-cover
      background-image url("/img/projects/alegpaez-cover.jpg")

    .templateb-logo
      height 15px
      width 200px

  /*Estilizate project*/
  &.estilizate
    .templateb-cover
      background-image url("/img/projects/estilizate-cover.jpg")

    .templateb-logo
      height 35px
      width 93px

  /*Pacer project*/
  &.pacer
    .templateb-cover
      background-image url("/img/projects/pacer-cover.jpg")

    .templateb-logo
      height 33px
      width 90px

  /*Opia project*/
  &.opia
    .templateb-cover
      background-image url("/img/projects/opia-cover.jpg")

    .templateb-logo
      height 29px
      width 91px

  /*Sante project*/
  &.sante
    .templateb-cover
      background-image url("/img/projects/sante-cover.jpg")

    .templateb-logo
      height 68px
      width 123px

  /*Decosnay project*/
  &.decosnay
    .templateb-cover
      background-image url("/img/projects/decosnay-cover.jpg")

    .templateb-logo
      height 49px
      width 66px

  /*Opalo project*/
  &.opalo
    .templateb-cover
      background-image url("/img/projects/opalo-cover.jpg")

    .templateb-logo
      height 31px
      width 71px

  /*The Confetti Party project*/
  &.confettiparty
    .templateb-cover
      background-image url("/img/projects/confettiparty-cover.jpg")

    .templateb-logo
      height 56px
      width 66px

@media screen and (min-width 1220px)
  .templateb
    &-data
      &-img
        height 707px
        width 1120px

      &-container
        width 830px

@media screen and (max-width 1010px)
  .templateb
    &-cover
      &-content
        width 74.7%

      &-title
        font-size 10px

      &-paragraph
        font-size 12px
        width 268px

    &-data
      &-img
        width 100%

      &-container
        flex-direction column
        width 75%

      &-desc
        width 100%

      &-btns
        margin-top 30px

@media screen and (max-width 440px)
  .templateb
    .return
      &-container
        padding-left 25px

    &-cover
      &-paragraph
        width 100%

    &-data
      margin-bottom 77px

      &-container
        margin-top 10px

      &-btns
        flex-direction column

        & > a:first-child
          margin-bottom 15px
