.templatea
  &-cover
    background-position center
    background-repeat no-repeat
    background-size cover
    height 374px
    padding 30px 0 0 40px
    position relative

    &-return
      color $whiteT1
      font-size 11px
      letter-spacing 1px
      text-transform uppercase

      & .semi-triangle
        height 8px
        margin-right 15px
        width 5px

      &:hover
        font-weight 800

    &-content
      padding 70px 0 0 90px

    &-title
      color $whiteT1
      font-size 11px
      letter-spacing 2.5px
      line-height 20px
      margin 9px 0
      text-transform uppercase

    &-paragraph
      color $whiteT1
      font-size 13px
      letter-spacing 0.8px
      line-height 18px
      margin-bottom 15px
      width 315px

    &-scroll-indicator
      height 18px
      width 10px

    & .btn.transparent
      bottom 100px
      position absolute
      right 40px

  &-project
    height auto
    padding-bottom 75px
    position relative

    & .vertical-text
      left -27px
      top 135px
      transform rotate(-90deg)

    &-bigtext
      color $grayT1
      font-size 12.2vw
      line-height 74%
      margin-left -9px

    &-content
      margin 0 0 0 130px

    &-ul
      list-style none
      margin 0
      padding 0

    &-subtitle
      color $blackT3
      font-size 13px
      line-height 18px
      letter-spacing 0.7px
      margin-bottom 10px

    &-desc
      color $blackT3
      font-size 11px
      letter-spacing 0.7px
      line-height 20px

    &-img
      height auto
      position absolute
      right 0
      top -90px
      width 58%

      &-mobile
        display none

  &-functionalities
    height 471px
    position relative

    &-bigtext
      color $grayT1
      font-size 13.2vw
      line-height 155px
      margin 0px -13px
      opacity 0.1

    &-content
      align-items center
      display flex
      flex-direction row
      justify-content center
      margin-top -40px

      &-left
        align-items center
        display flex
        flex-direction column
        margin 0 0 0 107px
        position relative

        & a.btn
          bottom -90px
          position absolute

    &-img
      box-shadow 0 19px 30px 0 rgba(0, 0, 0, 0.26)
      width 43%

    & .vertical-text
      color $whiteT1
      right -30px
      top 250px
      transform rotate(-90deg)

      &:before
        background-color $whiteT1
        content ""
        display inline-block
        height 1px
        margin-right 18px
        vertical-align middle
        width 17px

      &:after
        display none

  &-circle
    align-items center
    background-color $grayT1
    box-shadow 0 6px 9px 0 rgba(0, 0, 0, 0.2)
    border-radius 100px
    display flex
    height 47px
    justify-content center
    width 47px

    &-container
      display flex
      flex-direction row

      & > .templatea-circle:nth-child(2)
        margin 0 29px

    &-text
      color $blackT3
      font-size 13px
      height 11px
      letter-spacing 0.7px
      text-indent 0.7px
      text-transform uppercase

    &-icon
      height 24px
      width 14px

  &-getmore
    &-bigtext
      color $grayT1
      font-size 24.7vw
      line-height 73%
      margin 0px -25px
      text-align center

    &-content
      align-items center
      display flex
      flex-direction row
      justify-content flex-end
      margin-top -35px
      padding 0 67px 50px 0

    &-info
      align-items center
      display flex
      flex-direction column
      margin-right 13%
      width 220px

    &-title
      color $blackT3
      font-size 13px
      letter-spacing 0.7px
      margin-top 31px

    &-desc
      color $grayT2
      font-size 11px
      letter-spacing 0.7px
      line-height 18px
      margin 8px 0 25px 0
      text-align center

    &-img
      height 403px
      width 387px

      &-container
        height 403px
        position relative

      &-mobile
        display none

    &-smartphone
      bottom 6px
      height 350px
      left -110px
      position absolute
      width 202px

  /*Dreamwater project*/

  &.akai
    .templatea-cover
      background-image url("/img/projects/akai-cover.jpg")

    .templatea-cover-logo
      height 30px
      width 77px

    .templatea-functionalities
      background-image linear-gradient(295deg, #4c76d1, #5683e3)

  &.dreamwater
    .templatea-cover
      background-image url("/img/projects/dreamwater-cover.jpg")

    .templatea-cover-logo
      height 37px
      width 69px

    .templatea-functionalities
      background-image linear-gradient(246deg, #bf83b9, #c991c3)

  &.vremexico
    .templatea-cover
      background-image url("/img/projects/vremexico-cover.jpg")

    .templatea-cover-logo
      height 38px
      width 34px

    .templatea-functionalities
      background-image linear-gradient(295deg, #eb851e, #eb851e)

  &.nomad
    .templatea-cover
      background-image url("/img/projects/nomad-cover.jpg")

    .templatea-cover-logo
      height 32px
      width 124px

    .templatea-functionalities
      background-color #ff3431

  &.schutique
    .templatea-cover
      background-image url("/img/projects/schutique-cover.jpg")

    .templatea-cover-logo
      height 35px
      width 113px

    .templatea-functionalities
      background-image linear-gradient(295deg, #1d1d1d, #151515)

@media screen and (min-width 1140px)
  .templatea
    &-project
      &-bigtext
        font-size 139px

      &-content
        margin-left 26%

      &-img
        height 490px
        width 652px

    &-functionalities
      &-img
        height 302px
        width 483px

    &-getmore
      &-content
        justify-content center
        padding-right 0

@media screen and (max-width 920px)
  .templatea
    &-cover
      height 500px
      padding-left 0

      &-return
        margin-left 40px

      &-content
        align-items center
        display flex
        flex-direction column
        padding 53px 0 0 0

      &-title
        margin-top 18px

      &-paragraph
        text-align center

      &-scroll-indicator
        display none

      & .btn.transparent
        bottom 145px

    &-project,
    &-functionalities
      & .vertical-text
        display none

    &-project
      height auto
      padding-bottom 45px

      &-img
        display none

        &-mobile
          display block
          margin -100px auto 0 auto

      &-bigtext
        font-size 23vw
        margin 0 -13px
        text-align center

      &-content
        margin 45px auto 0 auto
        width fit-content

    &-functionalities
      height auto
      padding-bottom 45px

      &-content
        flex-direction column
        margin-top 10px

        &-left
          margin 42px 0 0 0

          & a.btn
            position initial

    &-circle
      &-container
        margin-bottom 30px

    &-getmore
      padding-bottom 87px

      &-content
        flex-direction column
        margin-top -20px
        padding 0

      &-info
        margin-right 0

      &-img
        display none

        &-container
          margin-top 85px
          height auto

        &-mobile
          display block
          margin-left 70px

      &-smartphone
        bottom -100px
        left -30px

@media screen and (max-width 480px)
  .templatea
    &-cover
      height auto
      padding-bottom 120px

      &-paragraph
        padding 0 35px

      & .btn.transparent
        margin 0 auto
        position initial

    &-project
      &-img
        &-mobile
          width 100%

    &-functionalities
      &-bigtext
        line-height 70px
        margin 0 -4px

      &-img
        width 79%

    &-getmore
      &-img
        &-mobile
          height 147.06px
          margin-left 50px
          object-fit cover
          object-position 0 0
          width 230px

      &-smartphone
        bottom -75px
        height auto
        width 155px
