.hsbase
  margin 110px 0 250px

  &-title
    color $blackT2
    font-size 33px
    letter-spacing 0.5
    text-align center

  &-form
    margin 50px -53px 0 0
    width 531px

    &-container
      display flex
      justify-content center      

@media screen and (max-width 940px)
  .hsbase
    margin-bottom 30px

@media screen and (max-width 520px)
  .hsbase
    &-form
      margin-right -32px
      width 310px
