.hsbase
  align-items center
  display flex
  flex-direction column
  margin 110px 0 250px

  &-title
    color $blackT2
    font-size 33px
    letter-spacing 0.5
    text-align center

  &-form
    margin 50px -31px 0 0

@media screen and (max-width 940px)
  .hsbase
    margin-bottom 30px
