.home
  position relative

  &-cover
    background-color $grayT1
    display flex
    align-items center
    height 503px
    justify-content center
    position relative

    &-content
      max-width 500px

    &-logo
      height 17px
      width 95px

    &-subtitle
      color $blackT2
      display block
      font-size 9px
      letter-spacing 2.4px
      margin 8px 0 15px 0
      text-transform uppercase

    &-title
      color $blackT2
      font-size 40px
      line-height 42px
      margin-bottom 28px

    &-scrolling
      bottom 49px
      height 18px
      margin 0 auto
      position absolute
      width 10px

    &-img
      &-left,
      &-right
        position absolute

      &-left
        bottom -88px
        height 335px
        left 0
        width 242px

      &-right
        bottom -25px
        height 434px
        right 0
        width 442px

  &-services
    margin 30px 0 50px 0
    position relative

    & .vertical-text
      right -20px
      top 10px

    &-container
      display flex
      flex-direction row
      justify-content center
      margin -13% 0 100px 0

    &-mobile
      &-carousel
        display  none !important

    &-title
      color $grayT1
      font-size 23vw
      letter-spacing 2.9px
      margin 0px -35px
      text-align center

    &-icon
      &-container
        align-items center
        background-color $blueT1
        border-radius 100px
        display flex
        justify-content center
        height 34px
        margin-bottom 29px
        width 34px

    &-item
      &-title
        color $blackT2
        font-size 13px
        letter-spacing 0.7px
        line-height 20px

      &-container:nth-child(1) .home-services-descr
        width 145px

      &-container:nth-child(2) .home-services-descr
        width 145px

      &-container:nth-child(3) .home-services-descr
        width 158px

      &-container:nth-child(2)
        margin 0 70px

    &-descr
      color $blackT2
      font-size 10px
      letter-spacing 0.6px
      line-height 15px
      margin 5px 0 18px 0

    &-ourwork
      color $blackT2
      font-size 29px
      letter-spacing 0.4px
      margin-left 111px

      &:before
        background-color $blueT1
        content ""
        display inline-block
        height 3px
        margin-right 11px
        vertical-align middle
        width 36px

  &-bannerone
    background-blend-mode multiply
    background-color $blueT1
    background-image url("/img/backgrounds/woman-in-swimsuit.png")
    background-position bottom left 30%
    background-repeat no-repeat
    background-size 274px
    display flex
    flex-direction row
    height 546px
    justify-content space-between
    padding 84px 97px 0 111px
    position relative

    & .section-tag
      background-color $blueT2
      right 31px
      top 24px

    & .banner-title,
    & .banner-desc
      color $whiteT1

    & .banner-desc
      width 226px

    &-logo
      margin-bottom 32px
      height 19px
      width 112px

    &-lowerinfo
      display flex
      flex-direction row
      padding 35px 0 0 70px

      & > .banner-subtitle
        margin 20px 32px 0 0

      & > div > .banner-desc
        display block
        margin 5px 0 0 0
        width 170px

    & .banner-subtitle
      color $whiteT1

    & .vertical-text
      bottom 105px
      color $whiteT1
      left -15px

      &:after
        background-color $whiteT1

    &-animation
      background-color $whiteT1
      box-shadow 0 19px 30px 0 rgba(0, 0, 0, 0.26)
      height 304px
      overflow hidden
      padding-top 16px
      position relative
      width 489px

      &-bar
        background-color $whiteT1
        box-shadow 0 2px 4px 0 rgba(0, 0, 0, 0.08)
        height 16px
        position absolute
        top 0
        width 100%
        z-index 1

      &-dot
        background-color $grayT3
        border-radius 100px
        height 4px
        width 4px

        &-container
          display flex
          flex-direction row
          left 14px
          position absolute
          top 6px

        &:nth-child(2)
          margin 0 6px

      &-img
        animation-duration 5s
        animation-name scrollCoverBrowser
        animation-timing-function cubic-bezier(1.000, 0.005, 0.305, 1.000)
        animation-direction alternate
        animation-iteration-count infinite
        animation-fill-mode none
        width 100%

  &-bannertwo
    display flex
    flex-direction row
    height 503px
    position relative

    & .section-tag
      background-color $blueT3
      left 31px
      top 24px

    &-img
      background-image url("/img/utils/paisaje-de-nomad-republic.jpg")
      background-position center
      background-repeat no-repeat
      background-size cover
      height 503px
      min-width 439px

    &-devices
      animation fadeUpAndDown 4s infinite
      display flex
      left 180px
      margin-right 55px
      position absolute
      top 133px

      &-container
        background-color transparent
        border-radius 30px
        box-shadow 0 19px 30px 0 rgba(0, 0, 0, 0.5)
        height 321px
        margin-right 18px
        width 158px

      &-img
        width 100%

    &-content
      display flex
      justify-content flex-end
      padding 64px 75px 0 0
      width 100%

    & .banner-title
      color $blackT2

    & .banner-desc
      color $grayT3
      width 236px

    &-lowerinfo
      margin-left 123px

    & .banner-subtitle
      color $grayT2

    & .banner-subtitle + .banner-desc
      display block
      width 256px

    & .vertical-text
      bottom 12px
      right -45px
      z-index 1

  &-bannerthree
    display flex
    flex-direction row
    padding 0 0 0 111px
    position relative

    &-content
      padding-top 106px
      width 100%

    &-background
      background-blend-mode multiply
      background-color $grayT1
      background-image url("/img/backgrounds/man-with-white-shirt.png")
      background-position bottom right
      background-repeat no-repeat
      background-size 243px
      height 524px
      min-width 422px
      position relative

    &-tablet
      width 100%

      &-container
        animation fadeUpAndDown 4s infinite
        background-color transparent
        border-radius 22px
        box-shadow 0 19px 30px 0 rgba(0, 0, 0, 0.32)
        height 304px
        position absolute
        right 126px
        top 86px
        width 430px

    & .banner-title,
    & .banner-desc
      color $blackT2

    &-lowerinfo
      margin 81px 0 0 68px

      & .banner-subtitle
        color $grayT2

      & .banner-subtitle + .banner-desc
        color $grayT3
        width 208px

    & .banner-desc
      display block
      width 226px

    &-logo
      height 20px
      width 83px

    & .section-tag
      background-color $blueT1
      bottom 24px
      right 31px

      & img
        height 10px
        width 8px

  &-start
    margin 120px 0 70px 0
    position relative
    z-index 2

    &-content
      margin 0 auto
      width 560px

    &-title
      color $blackT2
      font-size 37px
      letter-spacing 0.5px
      line-height 42px

    &-btns
      display flex
      flex-direction row
      margin-top 40px

      & .btn.borderBlack
        margin-right 22px

.banner
  &-title
    font-size 24px
    letter-spacing 0.3px
    line-height 42px

  &-subtitle
    font-size 13px
    letter-spacing 0.5px

  &-desc
    font-size 12px
    letter-spacing 1px
    line-height 16px
    margin 18px 0 26px 0

.service
  &-icon
    &-cart
      height 14px
      width 15px

    &-page
      height 12px
      width 13px

    &-tag
      height 13px
      width 10px

  &-shopify
    &-experts
      height 14px
      width 83px !important

    &-pos
      height 14px
      width 62px !important

.footer-home-background
  background-image url("/img/utils/example-akai-in-laptop.png")
  background-position center
  background-repeat no-repeat
  background-size contain
  bottom -100px
  height 425px
  left 0
  position absolute
  width 439px
  z-index 1

@media screen and (max-width 1010px)
  .home
    &-cover
      &-img
        &-left
          height 230px
          width 166px

        &-right
          height 300px
          width 334px

    &-services
      & .vertical-text
        right -35px
        top 24px

      &-ourwork
        margin-left 52px

    &-bannerone
      padding 84px 60px 0 52px

    &-bannertwo
      &-content
        padding-right 32px

      &-devices
        left 50px

    &-bannerthree
      padding-left 52px

    &-start
      &-content
        margin 0 40px 0 auto

@media screen and (max-width 890px)
  .home
    &-bannerone
      align-items center
      flex-direction column
      height auto
      padding-bottom 60px

      &-info
        margin-bottom 40px

    &-bannertwo
      flex-direction column
      height auto
      padding-bottom 70px

      &-img
        height 400px

      &-devices
        top 110px

      &-content
        justify-content center
        padding-right 0

    &-bannerthree
      flex-direction column-reverse
      padding-left 0

      &-content
        align-items center
        display flex
        flex-direction column
        padding 60px 0 80px 0

    &-start
      &-content
        margin-right 80px
        width 310px

  .footer-home-background
    bottom 330px
    height 290px
    width 325px

@media screen and (max-width 650px)
  .home
    &-cover
      height 459px

      &-content
        max-width 260px

      &-title
        font-size 32px
        line-height 32px
        letter-spacing 0.5px

      &-img
        &-left
          bottom 35px
          height 160px
          width 115px

        &-right
          bottom -45px
          height 273px
          width 304px

    &-services
      margin-top 55px

      & .vertical-text
        top 30px

      &-container
        display none

      &-mobile
        &-carousel
          display block !important
          margin -60px 0 130px 0
          padding 0 14%
          position relative

          & .owl-stage-outer
            width 170px

          & .owl-nav
            bottom 70px
            position absolute
            right 14%

          & .carousel-arrow
            height 33px
            width 33px

          & .owl-prev.disabled,
          & .owl-next.disabled
            display none

          & .owl-next
            margin-left 10px

          & .owl-dots
            bottom -40px
            left 0
            margin 0 auto
            position absolute
            right 0
            width 54px

          & .owl-dot
            background-color $grayT1 !important
            border-radius 100px
            height 8px
            margin 0 5px
            width 8px

          & .owl-dot.active
            background-color $blueT1 !important

      &-ourwork
        margin 0 55px 0 0
        text-align right

    &-bannerone
      align-items initial
      padding 50px 38px 104px 38px

      &-info
        padding-left 40px

      &-logo
        &-container
          display flex
          justify-content flex-end
          padding-right 40px
          width 100%

      &-lowerinfo
        justify-content center
        padding-left 0

      & .vertical-text
        bottom 85px
        left -50px

      & .btn.transparent
        bottom 38px
        left 0
        margin 0 auto
        position absolute
        right 0

      & .vertical-text
        display none

    &-bannertwo
      & .vertical-text
        display none

      &-img
        height 318px

      &-devices
        left 39px

        & > div
          height 229px !important
          width 112px !important

        & > div:first-child
          margin 173px 43px 0 0 !important

      &-content
        justify-content flex-start
        padding-top 73px

      &-info
        margin-left 194px

      &-lowerinfo
        margin 38px 0 0 -156px

    &-bannerthree
      &-background
        background-size 166px
        height 306px

      &-proof
        height 259px
        left 0
        margin 0 auto
        right 0
        width 367px

      &-content
        align-items flex-start
        margin 51px auto -20px auto
        width 367px

      &-lowerinfo
        margin 54px 0 0 155px

      & .section-tag
        bottom initial
        top 17px

    &-start
      margin-top 0

      &:before
        border-top solid 1px $grayT3
        content ""
        display block
        margin 0 35px
        padding-top 45px

      &-content
        margin 0 auto

      &-title
        text-align center

      &-btns
        margin-top 44px

  .proof-panel
    min-width 100%

  .footer-home-background
    bottom 0
    height 334px
    width 375px
