{% extends "partials/base.njk" %}

{% block title %}Website of Neopraxis{% endblock %}

{% set meta_description = "Web and Mobile Design | Social Media Links | Contact and Location | Image Gallery | Blog Integration | User sessions" %}
{% set og_url = "https://getmore.mx/en/our-work/neopraxis.html" %}
{% set og_title = "Website of Neopraxis | Get More" %}
{% set og_description = "Web and Mobile Design | Social Media Links | Contact and Location | Image Gallery | Blog Integration | User sessions" %}
{% set og_img = "/img/seo/pagina-web-seo.jpg" %}
{% set og_img_width = "500" %}
{% set og_img_height = "300" %}

{% set view_name = "ourwork" %}
{% set lang_view = "english" %}

{% block content %}
<section class="templateb neopraxis">
  <section class="templateb-cover">
    <div class="return-container">
      <a class="return metropolis-semibold" href="{{tbEN.base.linkReturn}}"><img class="semi-triangle" src="{{tbEN.base.iconReturn}}" alt="{{tbEN.base.iconReturnAlt}}">{{tbEN.base.textReturn}}</a>
    </div>
    <div class="templateb-cover-content">
      <img class="templateb-logo" src="{{tbEN.neopraxis.cover.projectLogo}}" alt="{{tbEN.neopraxis.cover.projectLogoAlt}}">
      <h1 class="templateb-cover-title metropolis-bold">{{tbEN.neopraxis.cover.projectName}}&nbsp;<span class="metropolis-medium">|&nbsp;{{tbEN.neopraxis.cover.projectType}}</span></h1>
      <p class="templateb-cover-paragraph metropolis-medium">{{tbEN.neopraxis.cover.projectDesc}}</p>
    </div>
  </section>

  <section class="templateb-data">
    <img class="templateb-data-img" src="{{tbEN.neopraxis.data.laptopImg}}" alt="{{tbEN.neopraxis.data.laptopImgAlt}}">
    <div class="templateb-data-container">
      <div>
        <h2 class="templateb-data-title metropolis-semibold">{{tbEN.base.data.title}}</h2>
        <span class="templateb-data-desc metropolis-light"><span class="metropolis-medium">{{tbEN.base.data.textYear}}</span>&nbsp;{{tbEN.neopraxis.data.numberYear}}</span>
        <ul class="templateb-data-ul">
          {% for list in tbEN.neopraxis.data.functionalities %}
          <li class="templateb-data-desc metropolis-light">{% if list.title %}<span class="metropolis-medium">{{list.title}}</span>&nbsp;{% endif %}{{list.item}}</li>
          {% endfor %}
        </ul>
        <span class="templateb-data-desc metropolis-light"><span class="metropolis-medium">{{tbEN.base.data.locationTitle}}</span>&nbsp;{{tbEN.neopraxis.data.location}}</span>
      </div>
      <div class="templateb-data-btns">
        <a class="btn borderBlack metropolis-bold" href="{{tbEN.neopraxis.data.btnSeeLink}}" target="_blank">{{tbEN.base.data.btnSee}}</a>
        <a class="btn metropolis-bold" href="{{tbEN.base.data.btnQuoteLink}}">{{tbEN.base.data.btnQuote}}</a>
      </div>
    </div>
  </section>
</section>
{% endblock %}
