{% extends "partials/base.njk" %}

{% block title %}Website of VRE MÉXICO{% endblock %}

{% set meta_description = "" %}
{% set og_url = "https://getmore.mx/en/our-work/vre-mexico.html" %}
{% set og_title = "Website of VRE MÉXICO | Get More" %}
{% set og_description = "" %}
{% set og_img = "/img/seo/pagina-web-seo.jpg" %}
{% set og_img_width = "500" %}
{% set og_img_height = "300" %}

{% set view_name = "ourwork" %}
{% set lang_view = "english" %}

{% block content %}
<section class="templatea vremexico">
  <section class="templatea-cover">
    <a class="templatea-cover-return metropolis-semibold" href="{{taEN.base.linkReturn}}"><img class="semi-triangle" src="{{taEN.base.iconReturn}}" alt="{{taEN.base.iconReturnAlt}}">{{taEN.base.textReturn}}</a>
    <div class="templatea-cover-content">
      <img class="templatea-cover-logo" src="{{taEN.vremexico.cover.projectLogo}}" alt="{{taEN.vremexico.cover.projectLogoAlt}}">
      <h1 class="templatea-cover-title metropolis-bold">{{taEN.vremexico.cover.projectName}}&nbsp;<span class="metropolis-medium">|&nbsp;{{taEN.vremexico.projectType}}</span></h1>
      <p class="templatea-cover-paragraph metropolis-medium">{{taEN.vremexico.cover.projectDesc}}</p>
      <img class="templatea-cover-scroll-indicator" src="{{taEN.base.scrollImg}}" alt="{{taEN.base.scrollImgAlt}}">
    </div>
    <a class="btn transparent metropolis-bold" href="{{taEN.base.btnQuoteLink}}">{{taEN.base.btnQuote}}</a>
  </section>

  <section class="templatea-project">
    <img  class="templatea-project-img-mobile" src="{{taEN.vremexico.project.laptopImgMobile}}" alt="{{taEN.vremexico.project.laptopImgMobileAlt}}">
    <span class="vertical-text metropolis-bold">{{taEN.vremexico.projectType}}</span>
    <h3 class="templatea-project-bigtext en-bigtext metropolis-bold">{{taEN.base.project.bigText}}</h3>
    <div class="templatea-project-content">
      <h2 class="templatea-project-subtitle metropolis-semibold">{{taEN.base.project.title}}</h2>
      <span class="templatea-project-desc metropolis-light"><span class="metropolis-medium">{{taEN.base.project.textYear}}</span>&nbsp;{{taEN.vremexico.project.numberYear}}</span>
      <ul class="templatea-project-ul">
        {% for list in taEN.vremexico.project.functionalities %}
        <li class="templatea-project-desc metropolis-light">{% if list.title %}<span class="metropolis-medium">{{list.title}}</span>&nbsp;{% endif %}{{list.item}}</li>
        {% endfor %}
      </ul>
      <span class="templatea-project-desc metropolis-light"><span class="metropolis-medium">{{taEN.base.project.locationTitle}}</span>&nbsp;{{taEN.vremexico.project.location}}</span>
    </div>
    <img class="templatea-project-img" src="{{taEN.vremexico.project.laptopImg}}" alt="{{taEN.vremexico.project.laptopImgAlt}}">
  </section>

  <section class="templatea-functionalities">
    <h3 class="templatea-functionalities-bigtext en-bigtext metropolis-bold">{{taEN.base.functionalities.title}}</h3>
    <div class="templatea-functionalities-content">
      <img class="templatea-functionalities-img" src="{{taEN.vremexico.functionalities.img}}" alt="{{taEN.vremexico.functionalities.imgALt}}">
      <div class="templatea-functionalities-content-left">
        <div class="templatea-circle-container">
          {% for circle in taEN.vremexico.functionalities.circles %}
          <div class="templatea-circle">
            <span class="templatea-circle-text metropolis-semibold">{{circle.title}}</span>
          </div>
          {% endfor %}
        </div>
        <a class="btn transparent metropolis-bold" href="{{taEN.vremexico.goProject}}" target="_blank">{{taEN.base.functionalities.btn}}</a>
      </div>
    </div>
    <span class="vertical-text metropolis-bold">{{taEN.vremexico.functionalities.easyText}}</span>
  </section>

  <section class="templatea-getmore">
    <h3 class="templatea-getmore-bigtext metropolis-bold">{{taEN.base.getmore.bigText}}</h3>
    <div class="templatea-getmore-content">
      <div class="templatea-getmore-info">
        <div class="templatea-circle">
          <img class="templatea-circle-icon" src="{{taEN.base.getmore.icon}}" alt="{{taEN.base.getmore.iconAlt}}">
        </div>
        <h6 class="templatea-getmore-title metropolis-semibold">{{taEN.base.getmore.title}}</h6>
        <p class="templatea-getmore-desc metropolis-medium">{{taEN.base.getmore.desc}}</p>
        <a class="btn metropolis-bold" href="{{taEN.base.btnQuoteLink}}">{{taEN.base.getmore.btn}}</a>
      </div>
      <div class="templatea-getmore-img-container">
        <img class="templatea-getmore-img" src="{{taEN.vremexico.getmore.img}}" alt="{{taEN.vremexico.getmore.imgAlt}}">
        <img class="templatea-getmore-img-mobile" src="{{taEN.vremexico.getmore.imgMobile}}" alt="{{taEN.vremexico.getmore.imgMobileAlt}}">
        <img class="templatea-getmore-smartphone" src="{{taEN.vremexico.getmore.smartphoneImg}}" alt="{{taEN.vremexico.getmore.smartphoneImgAlt}}">
      </div>
    </div>
  </section>
</section>
{% endblock %}
