{% extends "partials/base.njk" %}

{% block title %}Tienda en línea de Akai Swimwear{% endblock %}

{% set meta_description = "Filtrado de productos | Selección de variantes | Chat en línea | Integración con Mailchimp | Diseño web y móvil" %}
{% set og_url = "https://getmore.mx/es/portafolio/akai-swimwear.html" %}
{% set og_title = "Tienda en línea de Akai Swimwear | Get More" %}
{% set og_description = "Filtrado de productos | Selección de variantes | Chat en línea | Integración con Mailchimp | Diseño web y móvil" %}
{% set og_img = "https://getmore.mx/img/seo/tienda-en-linea-seo.jpg" %}
{% set og_img_width = "500" %}
{% set og_img_height = "300" %}

{% set view_name = "ourwork" %}

{% block template %}
<section class="templatea akai">
  <section class="templatea-cover">
    <a class="templatea-cover-return metropolis-semibold" href="{{taES.base.linkReturn}}"><img class="semi-triangle" src="{{taES.base.iconReturn}}" alt="{{taES.base.iconReturnAlt}}">{{taES.base.textReturn}}</a>
    <div class="templatea-cover-content">
      <img class="templatea-cover-logo" src="{{taES.akai.cover.projectLogo}}" alt="{{taES.akai.cover.projectLogoAlt}}">
      <h1 class="templatea-cover-title metropolis-bold">{{taES.akai.cover.projectName}}&nbsp;<span class="metropolis-medium">|&nbsp;{{taES.akai.projectType}}</span></h1>
      <p class="templatea-cover-paragraph metropolis-medium">{{taES.akai.cover.projectDesc}}</p>
      <img class="templatea-cover-scroll-indicator" src="{{taES.base.scrollImg}}" alt="{{taES.base.scrollImgAlt}}">
    </div>
    <a class="btn transparent metropolis-bold" href="{{taES.base.btnQuoteLink}}">{{taES.base.btnQuote}}</a>
  </section>

  <section class="templatea-project">
    <img  class="templatea-project-img-mobile" src="{{taES.akai.project.laptopImgMobile}}" alt="{{taES.akai.project.laptopImgMobileAlt}}">
    <span class="vertical-text metropolis-bold">{{taES.akai.projectType}}</span>
    <h3 class="templatea-project-bigtext metropolis-bold">{{taES.base.project.bigText}}</h3>
    <div class="templatea-project-content">
      <h2 class="templatea-project-subtitle metropolis-semibold">{{taES.base.project.title}}</h2>
      <span class="templatea-project-desc metropolis-light"><span class="metropolis-medium">{{taES.base.project.textYear}}</span>&nbsp;{{taES.akai.project.numberYear}}</span>
      <ul class="templatea-project-ul">
        {% for list in taES.akai.project.functionalities %}
        <li class="templatea-project-desc metropolis-light">{% if list.title %}<span class="metropolis-medium">{{list.title}}</span>&nbsp;{% endif %}{{list.item}}</li>
        {% endfor %}
      </ul>
      <span class="templatea-project-desc metropolis-light"><span class="metropolis-medium">{{taES.base.project.locationTitle}}</span>&nbsp;{{taES.akai.project.location}}</span>
    </div>
    <img class="templatea-project-img" src="{{taES.akai.project.laptopImg}}" alt="{{taES.akai.project.laptopImgAlt}}">
  </section>

  <section class="templatea-functionalities">
    <h3 class="templatea-functionalities-bigtext metropolis-bold">{{taES.base.functionalities.title}}</h3>
    <div class="templatea-functionalities-content">
      <img class="templatea-functionalities-img" src="{{taES.akai.functionalities.img}}" alt="{{taES.akai.functionalities.imgALt}}">
      <div class="templatea-functionalities-content-left">
        <div class="templatea-circle-container">
          {% for circle in taES.akai.functionalities.circles %}
          <div class="templatea-circle">
            <span class="templatea-circle-text metropolis-semibold">{{circle.title}}</span>
          </div>
          {% endfor %}
        </div>
        <a class="btn transparent metropolis-bold" href="{{taES.akai.goProject}}" target="_blank">{{taES.base.functionalities.btn}}</a>
      </div>
    </div>
    <span class="vertical-text metropolis-bold">{{taES.akai.functionalities.easyText}}</span>
  </section>

  <section class="templatea-getmore">
    <h3 class="templatea-getmore-bigtext metropolis-bold">{{taES.base.getmore.bigText}}</h3>
    <div class="templatea-getmore-content">
      <div class="templatea-getmore-info">
        <div class="templatea-circle">
          <img class="templatea-circle-icon" src="{{taES.base.getmore.icon}}" alt="{{taES.base.getmore.iconAlt}}">
        </div>
        <h6 class="templatea-getmore-title metropolis-semibold">{{taES.base.getmore.title}}</h6>
        <p class="templatea-getmore-desc metropolis-medium">{{taES.base.getmore.desc}}</p>
        <a class="btn metropolis-bold" href="{{taES.akai.goProject}}" target="_blank">{{taES.base.getmore.btn}}</a>
      </div>
      <div class="templatea-getmore-img-container">
        <img class="templatea-getmore-img" src="{{taES.akai.getmore.img}}" alt="{{taES.akai.getmore.imgAlt}}">
        <img class="templatea-getmore-img-mobile" src="{{taES.akai.getmore.imgMobile}}" alt="{{taES.akai.getmore.imgMobileAlt}}">
        <img class="templatea-getmore-smartphone" src="{{taES.akai.getmore.smartphoneImg}}" alt="{{taES.akai.getmore.smartphoneImgAlt}}">
      </div>
    </div>
  </section>
</section>
{% endblock %}
