<!DOCTYPE html>
<html>
  <head>
    {% include 'seo/tracking/googleanalytics.njk' %}
    {% include 'seo/metatags.njk' %}
    {% block extra_css %}{% endblock %}
    <link rel="stylesheet" href="/css/{{ projectFilesName }}.libs.css">
    <link rel="stylesheet" href="/css/main.css">
    <link runat="server" rel="shortcut icon" href="/img/favicon/" type="image/x-icon"/>
    <link runat="server" rel="icon" href="/img/favicon/" type="image/ico"/>
    <title>{% block title %}{% endblock %} | Get More</title>
    {% include 'seo/tracking/facebookpixel.njk' %}
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vanilla-lazyload/8.15.0/lazyload.min.js"></script>
  </head>
  <body>
    <div id="page">
      {% if lang_view == "spanish" %}
        {% include 'partials/navbar.njk' %}
      {% else %}
        {% include 'partials/navbar-en.njk' %}
      {% endif %}
      <main>
        {% block content %}{% endblock %}
      </main>
      {% if lang_view == "spanish" %}
        {% include 'partials/footer.njk' %}
      {% else %}
        {% include 'partials/footer-en.njk' %}
      {% endif %}
    </div>
    {% block js_libs_config %}
    {% endblock %}
    <script src="/js/{{ projectFilesName }}.libs.js"></script>
    {% block js_project_config %}
    {% endblock %}
    <script src="/js/{{ projectFilesName }}.js"></script>
    {% block js_inline %}
    {% endblock %}
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
  </body>
</html>
