<div class="service-table-container">
  <div class="service-table">
    <div class="service-table-thead">
      <div class="service-table-th">
        <span class="metropolis-semibold">Basic</span>
      </div>
      <div class="service-table-th">
        <span class="metropolis-semibold">Intermediate</span>
      </div>
      <div class="service-table-th">
        <span class="metropolis-semibold">Advanced</span>
      </div>
    </div>
    <div class="service-table-tbody">
      <div class="service-table-tbody-first">
        <div class="service-table-td">
          <span class="service-table-desc metropolis-medium">Homepage <b>Tailor-made</b> Design</span>
        </div>
        <div class="service-table-td">
          <span class="service-table-desc metropolis-medium"><b>Responsive</b> Design</span>
        </div>
        <div class="service-table-td">
          <span class="service-table-desc metropolis-medium"><b>Online</b> Payments</span>
        </div>
        <div class="service-table-td">
          <span class="service-table-desc metropolis-medium"><b>Discounts</b></span>
        </div>
        <div class="service-table-td">
          <span class="service-table-desc metropolis-medium">Operation <b>Manuals</b></span>
        </div>
        <div class="service-table-td">
          <span class="service-table-desc metropolis-medium"><b>Online</b> Training</span>
        </div>
        <div class="service-table-td">
          <span class="service-table-desc metropolis-medium"><b>Product</b> Listing</span>
        </div>
        <div class="service-table-td">
          <span class="service-table-desc metropolis-medium"><b>Instagram and Facebook</b> Sales Channel</span>
        </div>
        <div class="service-table-td">
          <span class="service-table-desc metropolis-medium">Online <b>Chat</b></span>
        </div>
        <div class="service-table-td">
          <span class="service-table-desc metropolis-medium">Newsletter</span>
        </div>
        <div class="service-table-td">
          <span class="service-table-desc metropolis-medium">Blog</span>
        </div>
        <div class="service-table-td">
          <span class="service-table-desc metropolis-medium">User <b>Sessions</b></span>
        </div>
        <div class="service-table-td">
          <span class="service-table-desc metropolis-medium">Technical <b>Support</b></span>
        </div>
      </div>
      <div class="service-table-tbody-second">
        <div>
          <div class="service-table-td">
            <img class="service-table-check" src="/img/icons/icono-de-comprobacion.png" alt="Ícono de comprobación azul para los elementos de la tabla">
          </div>
          <div class="service-table-td">
            <img class="service-table-check" src="/img/icons/icono-de-comprobacion.png" alt="Ícono de comprobación azul para los elementos de la tabla">
          </div>
          <div class="service-table-td">
            <img class="service-table-check" src="/img/icons/icono-de-comprobacion.png" alt="Ícono de comprobación azul para los elementos de la tabla">
          </div>
          <div class="service-table-td">
            <img class="service-table-check" src="/img/icons/icono-de-comprobacion.png" alt="Ícono de comprobación azul para los elementos de la tabla">
          </div>
          <div class="service-table-td">
            <img class="service-table-check" src="/img/icons/icono-de-comprobacion.png" alt="Ícono de comprobación azul para los elementos de la tabla">
          </div>
          <div class="service-table-td">
          </div>
          <div class="service-table-td">
          </div>
          <div class="service-table-td">
          </div>
          <div class="service-table-td">
          </div>
          <div class="service-table-td">
          </div>
          <div class="service-table-td">
          </div>
          <div class="service-table-td">
          </div>
          <div class="service-table-td">
          </div>
        </div>

        <div>
          <div class="service-table-td">
            <img class="service-table-check" src="/img/icons/icono-de-comprobacion.png" alt="Ícono de comprobación azul para los elementos de la tabla">
          </div>
          <div class="service-table-td">
            <img class="service-table-check" src="/img/icons/icono-de-comprobacion.png" alt="Ícono de comprobación azul para los elementos de la tabla">
          </div>
          <div class="service-table-td">
            <img class="service-table-check" src="/img/icons/icono-de-comprobacion.png" alt="Ícono de comprobación azul para los elementos de la tabla">
          </div>
          <div class="service-table-td">
            <img class="service-table-check" src="/img/icons/icono-de-comprobacion.png" alt="Ícono de comprobación azul para los elementos de la tabla">
          </div>
          <div class="service-table-td">
            <img class="service-table-check" src="/img/icons/icono-de-comprobacion.png" alt="Ícono de comprobación azul para los elementos de la tabla">
          </div>
          <div class="service-table-td">
            <img class="service-table-check" src="/img/icons/icono-de-comprobacion.png" alt="Ícono de comprobación azul para los elementos de la tabla">
          </div>
          <div class="service-table-td">
            <img class="service-table-check" src="/img/icons/icono-de-comprobacion.png" alt="Ícono de comprobación azul para los elementos de la tabla">
          </div>
          <div class="service-table-td">
            <img class="service-table-check" src="/img/icons/icono-de-comprobacion.png" alt="Ícono de comprobación azul para los elementos de la tabla">
          </div>
          <div class="service-table-td">
            <img class="service-table-check" src="/img/icons/icono-de-comprobacion.png" alt="Ícono de comprobación azul para los elementos de la tabla">
          </div>
          <div class="service-table-td">
          </div>
          <div class="service-table-td">
          </div>
          <div class="service-table-td">
          </div>
          <div class="service-table-td">
          </div>
        </div>

        <div>
          <div class="service-table-td">
            <img class="service-table-check" src="/img/icons/icono-de-comprobacion.png" alt="Ícono de comprobación azul para los elementos de la tabla">
          </div>
          <div class="service-table-td">
            <img class="service-table-check" src="/img/icons/icono-de-comprobacion.png" alt="Ícono de comprobación azul para los elementos de la tabla">
          </div>
          <div class="service-table-td">
            <img class="service-table-check" src="/img/icons/icono-de-comprobacion.png" alt="Ícono de comprobación azul para los elementos de la tabla">
          </div>
          <div class="service-table-td">
            <img class="service-table-check" src="/img/icons/icono-de-comprobacion.png" alt="Ícono de comprobación azul para los elementos de la tabla">
          </div>
          <div class="service-table-td">
            <img class="service-table-check" src="/img/icons/icono-de-comprobacion.png" alt="Ícono de comprobación azul para los elementos de la tabla">
          </div>
          <div class="service-table-td">
            <img class="service-table-check" src="/img/icons/icono-de-comprobacion.png" alt="Ícono de comprobación azul para los elementos de la tabla">
          </div>
          <div class="service-table-td">
            <img class="service-table-check" src="/img/icons/icono-de-comprobacion.png" alt="Ícono de comprobación azul para los elementos de la tabla">
          </div>
          <div class="service-table-td">
            <img class="service-table-check" src="/img/icons/icono-de-comprobacion.png" alt="Ícono de comprobación azul para los elementos de la tabla">
          </div>
          <div class="service-table-td">
            <img class="service-table-check" src="/img/icons/icono-de-comprobacion.png" alt="Ícono de comprobación azul para los elementos de la tabla">
          </div>
          <div class="service-table-td">
            <img class="service-table-check" src="/img/icons/icono-de-comprobacion.png" alt="Ícono de comprobación azul para los elementos de la tabla">
          </div>
          <div class="service-table-td">
            <img class="service-table-check" src="/img/icons/icono-de-comprobacion.png" alt="Ícono de comprobación azul para los elementos de la tabla">
          </div>
          <div class="service-table-td">
            <img class="service-table-check" src="/img/icons/icono-de-comprobacion.png" alt="Ícono de comprobación azul para los elementos de la tabla">
          </div>
          <div class="service-table-td">
            <img class="service-table-check" src="/img/icons/icono-de-comprobacion.png" alt="Ícono de comprobación azul para los elementos de la tabla">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
