<div class="service-table-container">
  <div class="service-table">
    <div class="service-table-thead">
      <div class="service-table-th">
        <span class="metropolis-semibold">Básico</span>
      </div>
      <div class="service-table-th">
        <span class="metropolis-semibold">Intermedio</span>
      </div>
      <div class="service-table-th">
        <span class="metropolis-semibold">Avanzado</span>
      </div>
    </div>
    <div class="service-table-tbody">
      <div class="service-table-tbody-first">
        <div class="service-table-td">
          <span class="service-table-desc metropolis-medium">Diseño <b>personalizado</b> de Homepage</span>
        </div>
        <div class="service-table-td">
          <span class="service-table-desc metropolis-medium">Diseño <b>Responsivo</b> (Móviles y tablets)</span>
        </div>
        <div class="service-table-td">
          <span class="service-table-desc metropolis-medium">Pagos en <b>línea</b></span>
        </div>
        <div class="service-table-td">
          <span class="service-table-desc metropolis-medium">Cupones de <b>descuento</b></span>
        </div>
        <div class="service-table-td">
          <span class="service-table-desc metropolis-medium"><b>Manuales</b> de operación</span>
        </div>
        <div class="service-table-td">
          <span class="service-table-desc metropolis-medium">Capacitación</span>
        </div>
        <div class="service-table-td">
          <span class="service-table-desc metropolis-medium">Alta de <b>productos</b></span>
        </div>
        <div class="service-table-td">
          <span class="service-table-desc metropolis-medium">Venta en <b>Instagram y Facebook</b></span>
        </div>
        <div class="service-table-td">
          <span class="service-table-desc metropolis-medium"><b>Chat</b> en línea</span>
        </div>
        <div class="service-table-td">
          <span class="service-table-desc metropolis-medium">Newsletter</span>
        </div>
        <div class="service-table-td">
          <span class="service-table-desc metropolis-medium">Blog</span>
        </div>
        <div class="service-table-td">
          <span class="service-table-desc metropolis-medium"><b>Sesiones</b> de usuario</span>
        </div>
        <div class="service-table-td">
          <span class="service-table-desc metropolis-medium"><b>Soporte</b> técnico</span>
        </div>
      </div>
      <div class="service-table-tbody-second">
        <div>
          <div class="service-table-td">
            <img class="service-table-check" src="/img/icons/icono-de-comprobacion.png" alt="Ícono de comprobación azul para los elementos de la tabla">
          </div>
          <div class="service-table-td">
            <img class="service-table-check" src="/img/icons/icono-de-comprobacion.png" alt="Ícono de comprobación azul para los elementos de la tabla">
          </div>
          <div class="service-table-td">
            <img class="service-table-check" src="/img/icons/icono-de-comprobacion.png" alt="Ícono de comprobación azul para los elementos de la tabla">
          </div>
          <div class="service-table-td">
            <img class="service-table-check" src="/img/icons/icono-de-comprobacion.png" alt="Ícono de comprobación azul para los elementos de la tabla">
          </div>
          <div class="service-table-td">
            <img class="service-table-check" src="/img/icons/icono-de-comprobacion.png" alt="Ícono de comprobación azul para los elementos de la tabla">
          </div>
          <div class="service-table-td">
          </div>
          <div class="service-table-td">
          </div>
          <div class="service-table-td">
          </div>
          <div class="service-table-td">
          </div>
          <div class="service-table-td">
          </div>
          <div class="service-table-td">
          </div>
          <div class="service-table-td">
          </div>
          <div class="service-table-td">
          </div>
        </div>

        <div>
          <div class="service-table-td">
            <img class="service-table-check" src="/img/icons/icono-de-comprobacion.png" alt="Ícono de comprobación azul para los elementos de la tabla">
          </div>
          <div class="service-table-td">
            <img class="service-table-check" src="/img/icons/icono-de-comprobacion.png" alt="Ícono de comprobación azul para los elementos de la tabla">
          </div>
          <div class="service-table-td">
            <img class="service-table-check" src="/img/icons/icono-de-comprobacion.png" alt="Ícono de comprobación azul para los elementos de la tabla">
          </div>
          <div class="service-table-td">
            <img class="service-table-check" src="/img/icons/icono-de-comprobacion.png" alt="Ícono de comprobación azul para los elementos de la tabla">
          </div>
          <div class="service-table-td">
            <img class="service-table-check" src="/img/icons/icono-de-comprobacion.png" alt="Ícono de comprobación azul para los elementos de la tabla">
          </div>
          <div class="service-table-td">
            <img class="service-table-check" src="/img/icons/icono-de-comprobacion.png" alt="Ícono de comprobación azul para los elementos de la tabla">
          </div>
          <div class="service-table-td">
            <img class="service-table-check" src="/img/icons/icono-de-comprobacion.png" alt="Ícono de comprobación azul para los elementos de la tabla">
          </div>
          <div class="service-table-td">
            <img class="service-table-check" src="/img/icons/icono-de-comprobacion.png" alt="Ícono de comprobación azul para los elementos de la tabla">
          </div>
          <div class="service-table-td">
            <img class="service-table-check" src="/img/icons/icono-de-comprobacion.png" alt="Ícono de comprobación azul para los elementos de la tabla">
          </div>
          <div class="service-table-td">
          </div>
          <div class="service-table-td">
          </div>
          <div class="service-table-td">
          </div>
          <div class="service-table-td">
          </div>
        </div>

        <div>
          <div class="service-table-td">
            <img class="service-table-check" src="/img/icons/icono-de-comprobacion.png" alt="Ícono de comprobación azul para los elementos de la tabla">
          </div>
          <div class="service-table-td">
            <img class="service-table-check" src="/img/icons/icono-de-comprobacion.png" alt="Ícono de comprobación azul para los elementos de la tabla">
          </div>
          <div class="service-table-td">
            <img class="service-table-check" src="/img/icons/icono-de-comprobacion.png" alt="Ícono de comprobación azul para los elementos de la tabla">
          </div>
          <div class="service-table-td">
            <img class="service-table-check" src="/img/icons/icono-de-comprobacion.png" alt="Ícono de comprobación azul para los elementos de la tabla">
          </div>
          <div class="service-table-td">
            <img class="service-table-check" src="/img/icons/icono-de-comprobacion.png" alt="Ícono de comprobación azul para los elementos de la tabla">
          </div>
          <div class="service-table-td">
            <img class="service-table-check" src="/img/icons/icono-de-comprobacion.png" alt="Ícono de comprobación azul para los elementos de la tabla">
          </div>
          <div class="service-table-td">
            <img class="service-table-check" src="/img/icons/icono-de-comprobacion.png" alt="Ícono de comprobación azul para los elementos de la tabla">
          </div>
          <div class="service-table-td">
            <img class="service-table-check" src="/img/icons/icono-de-comprobacion.png" alt="Ícono de comprobación azul para los elementos de la tabla">
          </div>
          <div class="service-table-td">
            <img class="service-table-check" src="/img/icons/icono-de-comprobacion.png" alt="Ícono de comprobación azul para los elementos de la tabla">
          </div>
          <div class="service-table-td">
            <img class="service-table-check" src="/img/icons/icono-de-comprobacion.png" alt="Ícono de comprobación azul para los elementos de la tabla">
          </div>
          <div class="service-table-td">
            <img class="service-table-check" src="/img/icons/icono-de-comprobacion.png" alt="Ícono de comprobación azul para los elementos de la tabla">
          </div>
          <div class="service-table-td">
            <img class="service-table-check" src="/img/icons/icono-de-comprobacion.png" alt="Ícono de comprobación azul para los elementos de la tabla">
          </div>
          <div class="service-table-td">
            <img class="service-table-check" src="/img/icons/icono-de-comprobacion.png" alt="Ícono de comprobación azul para los elementos de la tabla">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
