<footer class="footer">
  <div class="footer-background"></div>
  <div class="footer-content">
    <a href="/">
      <img class="footer-logo" src="{{es.footer.logo}}" alt="{{es.footer.logoAlt}}">
    </a>
    <div class="footer-section-container">
      {% for section in es.footer.sections %}
      <a class="footer-section metropolis-medium {% if view_name == section.viewName %}active{% endif %}" href="{{section.link}}">{{section.name}}</a>
      {% endfor %}
    </div>
    <div class="footer-social-container">
      {% for social in es.footer.social %}
      <a href="{{social.link}}" target="_blank">
        <img class="footer-social-icon" src="{{social.icon}}" alt="{{social.iconAlt}}">
      </a>
      {% endfor %}
    </div>
    <a class="footer-email metropolis-medium" href="mailto:hola@getmore.mx">{{es.footer.email}}</a>
    <a class="metropolis-medium btn borderBlack {% if view_name == 'contact' %}active{% endif %}" href="{{es.footer.contactLink}}">{{es.footer.contactName}}</a>
  </div>
  <span class="footer-copyrigth metropolis-medium">&copy; <script>document.write(new Date().getFullYear());</script> Get More.</span>
  <img class="footer-decorator" src="{{es.footer.decorator}}" alt="{{es.footer.decoratorAlt}}">
</footer>
