<footer class="footer">
  <div class="footer-background"></div>
  <div class="footer-content">
    <a href="index.html">
      <img class="footer-logo" src="{{es.footer.logo}}" alt="{{es.footer.logoAlt}}">
    </a>
    <div class="footer-section-container">
      {% for section in es.footer.sections %}
      <a class="footer-section metropolis-medium {% if section.btnAspect == true %} btn borderBlack {% endif %}{% if view_name == section.viewName %}active{% endif %}" href="{{section.link}}">{{section.name}}</a>
      {% endfor %}
    </div>
    <a class="footer-email metropolis-medium" href="mailto:hola@getmore.mx">{{es.footer.email}}</a>
  </div>
  <span class="footer-copyrigth metropolis-medium">&copy; <script>document.write(new Date().getFullYear());</script> Get More.</span>
  <img class="footer-decorator" src="{{es.footer.decorator}}">
</footer>
