<nav class="nav">
  <div class="nav-logo-container">
    <a href="/">
      <img class="nav-logo" src="{{es.nav.logo}}" alt="{{es.nav.logoAlt}}">
      <img class="nav-logo-scroll" src="{{es.nav.logoScroll}}" alt="{{es.nav.logoAlt}}">
    </a>
  </div>
  <div class="nav-option-container">
    <div class="nav-option-content">
      <a href="/">
        <span class="nav-option metropolis-medium {% if view_name == 'homepage' %}active{% endif %}">inicio</span>
      </a>
    </div>
    <div class="nav-option-content">
      <a href="/es/portafolio.html">
        <span class="nav-option metropolis-medium {% if view_name == 'portfolio' %}active{% endif %}">Portafolio</span>
      </a>
    </div>
    <div class="nav-option-content dropdown">
      <button class="nav-option dropdown-btn metropolis-medium {% if view_name == 'ecommerce' or view_name == 'webpages' or view_name == 'pointsale' %}active{% endif %}">Servicios</button>
      <div id="navDropdown" class="dropdown-content">
        <a href="/es/tiendas-en-linea.html">
          <span class="nav-option metropolis-medium {% if view_name == 'ecommerce' %}active{% endif %}">tiendas en línea</span>
        </a>
        <a href="/es/paginas-web.html">
          <span class="nav-option metropolis-medium {% if view_name == 'webpages' %}active{% endif %}">páginas web</span>
        </a>
        <a href="/es/punto-de-venta.html">
          <span class="nav-option metropolis-medium {% if view_name == 'pointsale' %}active{% endif %}">punto de venta</span>
        </a>
      </div>
    </div>
    <div class="nav-option-content">
      <a href="/es/nosotros.html">
        <span class="nav-option metropolis-medium {% if view_name == 'aboutus' %}active{% endif %}">nosotros</span>
      </a>
    </div>
    <div class="nav-option-content">
      <a href="/es/contacto.html">
        <span class="nav-option metropolis-medium special-btn {% if view_name == 'contact' %}active{% endif %}">contactar</span>
      </a>
    </div>

    {% include 'partials/navLang.njk' %}
  </div>

  <div class="nav-lang-mobile">
    {% include 'partials/navLang.njk' %}
  </div>

  <div data-attribute="" class="hamburger-visibility"  id="hamburgerMenu">
    <div class="nav-hamburguer" data-attribute="">
      <div class="hamburger-line-icon-container" data-attribute="">
        <div class="hamburger-line-icon" data-attribute=""></div>
        <div class="hamburger-line-icon" data-attribute=""></div>
        <div class="hamburger-line-icon" data-attribute=""></div>
      </div>
    </div>
  </div>
  <div class="hamburger-menu-container" id="menuContainer" data-attribute="">
    <div class="hamburger-menu-header" data-attribute="">
      <div class="hamburger-close-container" id="hideHamburger">
        <img class="hamburger-close" src="{{es.nav.hamburgerClose}}" alt="{{es.nav.hamburgerCloseAlt}}">
      </div>
    </div>
    <div class="hamburger-menu-body" data-attribute="">
      {% for section in es.nav.sections %}
      <div class="nav-option-content {% if view_name == section.viewName %}active{% endif %}">
        <a href="{{section.link}}">
          <span class="nav-option metropolis-medium {% if section.name == 'contactar' %}special-btn{% endif %}">{{section.name}}</span>
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
</nav>
