<nav class="nav">
  <div>
    <a href="/">
      <img class="nav-logo" src="{{es.nav.logo}}" alt="{{es.nav.logoAlt}}">
      <img class="nav-logo-scroll" src="{{es.nav.logoScroll}}" alt="{{es.nav.logoAlt}}">
    </a>
  </div>
  <div class="nav-option-container">
    {% for section in es.nav.sections %}
    <div class="nav-option-content">
      <a href="{{section.link}}">
        <span class="nav-option metropolis-medium {% if view_name == section.viewName %}active{% endif %} {% if section.name == 'contactar' %}special-btn{% endif %}">{{section.name}}</span>
      </a>
    </div>
    {% endfor %}

    {% include 'partials/navLang.njk' %}
  </div>

  <div data-attribute="" class="hamburger-visibility"  id="hamburgerMenu">
    <div class="nav-hamburguer" data-attribute="">
      <div class="hamburger-line-icon-container" data-attribute="">
        <div class="hamburger-line-icon" data-attribute=""></div>
        <div class="hamburger-line-icon" data-attribute=""></div>
        <div class="hamburger-line-icon" data-attribute=""></div>
      </div>
    </div>
  </div>
  <div class="hamburger-menu-container" id="menuContainer" data-attribute="">
    <div class="hamburger-menu-header" data-attribute="">

      {% include 'partials/navLang.njk' %}

      <div class="hamburger-close-container" id="hideHamburger">
        <img class="hamburger-close" src="{{es.nav.hamburgerClose}}" alt="{{es.nav.hamburgerCloseAlt}}">
      </div>
    </div>
    <div class="hamburger-menu-body" data-attribute="">
      {% for section in es.nav.sections %}
      <div class="nav-option-content {% if view_name == section.viewName %}active{% endif %}">
        <a href="{{section.link}}">
          <span class="nav-option metropolis-medium {% if section.name == 'contactar' %}special-btn{% endif %}">{{section.name}}</span>
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
</nav>
