<div class="service-table-container">
  <div class="service-table">
    <div class="service-table-thead">
      <div class="service-table-th">
        <span class="metropolis-semibold">Basic</span>
      </div>
      <div class="service-table-th">
        <span class="metropolis-semibold">Intermediate</span>
      </div>
      <div class="service-table-th">
        <span class="metropolis-semibold">Advanced</span>
      </div>
    </div>
    <div class="service-table-tbody">
      <div class="service-table-tbody-first">
        <div class="service-table-td">
          <span class="service-table-desc metropolis-medium">Platform Configuration</span>
        </div>
        <div class="service-table-td">
          <span class="service-table-desc metropolis-medium">Product Listing</span>
        </div>
        <div class="service-table-td">
          <span class="service-table-desc metropolis-medium">Electronic Billing</span>
        </div>
        <div class="service-table-td">
          <span class="service-table-desc metropolis-medium">Use and Operation Manual</span>
        </div>
        <div class="service-table-td">
          <span class="service-table-desc metropolis-medium">Hardware Configuration</span>
        </div>
        <div class="service-table-td">
          <span class="service-table-desc metropolis-medium">Hardware Configuration and implementation On-site</span>
        </div>
        <div class="service-table-td">
          <span class="service-table-desc metropolis-medium">POS System Training</span>
        </div>
        <div class="service-table-td">
          <span class="service-table-desc metropolis-medium">Administrator System Training</span>
        </div>
        <div class="service-table-td">
          <span class="service-table-desc metropolis-medium">DEMO Session</span>
        </div>
        <div class="service-table-td">
          <span class="service-table-desc metropolis-medium">Kick-off</span>
        </div>
        <div class="service-table-td">
          <span class="service-table-desc metropolis-medium">After Kick-off Service</span>
        </div>
        <div class="service-table-td">
          <span class="service-table-desc metropolis-medium">Tag printing</span>
        </div>
      </div>
      <div class="service-table-tbody-second">
        <div>
          <div class="service-table-td">
            <img class="service-table-check" src="/img/icons/icono-de-comprobacion.png" alt="Ícono de comprobación azul para los elementos de la tabla">
          </div>
          <div class="service-table-td">
            <span class="service-table-text metropolis-semibold">300 SKUs</span>
          </div>
          <div class="service-table-td">
            <img class="service-table-check" src="/img/icons/icono-de-comprobacion.png" alt="Ícono de comprobación azul para los elementos de la tabla">
          </div>
          <div class="service-table-td">
            <img class="service-table-check" src="/img/icons/icono-de-comprobacion.png" alt="Ícono de comprobación azul para los elementos de la tabla">
          </div>
          <div class="service-table-td">
          </div>
          <div class="service-table-td">
          </div>
          <div class="service-table-td">
          </div>
          <div class="service-table-td">
          </div>
          <div class="service-table-td">
          </div>
          <div class="service-table-td">
          </div>
          <div class="service-table-td">
          </div>
          <div class="service-table-td">
          </div>
        </div>

        <div>
          <div class="service-table-td">
            <img class="service-table-check" src="/img/icons/icono-de-comprobacion.png" alt="Ícono de comprobación azul para los elementos de la tabla">
          </div>
          <div class="service-table-td">
            <span class="service-table-text metropolis-semibold">1,000 SKUs</span>
          </div>
          <div class="service-table-td">
            <img class="service-table-check" src="/img/icons/icono-de-comprobacion.png" alt="Ícono de comprobación azul para los elementos de la tabla">
          </div>
          <div class="service-table-td">
            <img class="service-table-check" src="/img/icons/icono-de-comprobacion.png" alt="Ícono de comprobación azul para los elementos de la tabla">
          </div>
          <div class="service-table-td">
            <img class="service-table-check" src="/img/icons/icono-de-comprobacion.png" alt="Ícono de comprobación azul para los elementos de la tabla">
          </div>
          <div class="service-table-td">
            <img class="service-table-check" src="/img/icons/icono-de-comprobacion.png" alt="Ícono de comprobación azul para los elementos de la tabla">
          </div>
          <div class="service-table-td">
            <img class="service-table-check" src="/img/icons/icono-de-comprobacion.png" alt="Ícono de comprobación azul para los elementos de la tabla">
          </div>
          <div class="service-table-td">
            <img class="service-table-check" src="/img/icons/icono-de-comprobacion.png" alt="Ícono de comprobación azul para los elementos de la tabla">
          </div>
          <div class="service-table-td">
            <img class="service-table-check" src="/img/icons/icono-de-comprobacion.png" alt="Ícono de comprobación azul para los elementos de la tabla">
          </div>
          <div class="service-table-td">
          </div>
          <div class="service-table-td">
          </div>
          <div class="service-table-td">
          </div>
        </div>

        <div>
          <div class="service-table-td">
            <img class="service-table-check" src="/img/icons/icono-de-comprobacion.png" alt="Ícono de comprobación azul para los elementos de la tabla">
          </div>
          <div class="service-table-td">
            <span class="service-table-text metropolis-semibold">3,000 SKUs</span>
          </div>
          <div class="service-table-td">
            <img class="service-table-check" src="/img/icons/icono-de-comprobacion.png" alt="Ícono de comprobación azul para los elementos de la tabla">
          </div>
          <div class="service-table-td">
            <img class="service-table-check" src="/img/icons/icono-de-comprobacion.png" alt="Ícono de comprobación azul para los elementos de la tabla">
          </div>
          <div class="service-table-td">
            <img class="service-table-check" src="/img/icons/icono-de-comprobacion.png" alt="Ícono de comprobación azul para los elementos de la tabla">
          </div>
          <div class="service-table-td">
            <img class="service-table-check" src="/img/icons/icono-de-comprobacion.png" alt="Ícono de comprobación azul para los elementos de la tabla">
          </div>
          <div class="service-table-td">
            <img class="service-table-check" src="/img/icons/icono-de-comprobacion.png" alt="Ícono de comprobación azul para los elementos de la tabla">
          </div>
          <div class="service-table-td">
            <img class="service-table-check" src="/img/icons/icono-de-comprobacion.png" alt="Ícono de comprobación azul para los elementos de la tabla">
          </div>
          <div class="service-table-td">
            <img class="service-table-check" src="/img/icons/icono-de-comprobacion.png" alt="Ícono de comprobación azul para los elementos de la tabla">
          </div>
          <div class="service-table-td">
            <img class="service-table-check" src="/img/icons/icono-de-comprobacion.png" alt="Ícono de comprobación azul para los elementos de la tabla">
          </div>
          <div class="service-table-td">
            <img class="service-table-check" src="/img/icons/icono-de-comprobacion.png" alt="Ícono de comprobación azul para los elementos de la tabla">
          </div>
          <div class="service-table-td">
            <img class="service-table-check" src="/img/icons/icono-de-comprobacion.png" alt="Ícono de comprobación azul para los elementos de la tabla">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
