<div class="service-table-container">
  <div class="service-table">
    <div class="service-table-thead">
      <div class="service-table-th">
        <span class="metropolis-semibold">Basic</span>
      </div>
      <div class="service-table-th">
        <span class="metropolis-semibold">Intermediate</span>
      </div>
      <div class="service-table-th">
        <span class="metropolis-semibold">Advanced</span>
      </div>
    </div>
    <div class="service-table-tbody">
      <div class="service-table-tbody-first">
        <div class="service-table-td">
          <span class="service-table-desc metropolis-medium"><b>UX</b> Design</span>
        </div>
        <div class="service-table-td">
          <span class="service-table-desc metropolis-medium"><b>Tailor-made</b> Design</span>
        </div>
        <div class="service-table-td">
          <span class="service-table-desc metropolis-medium"><b>Responsive</b> Design</span>
        </div>
        <div class="service-table-td">
          <span class="service-table-desc metropolis-medium">Number of <b>pages</b></span>
        </div>
        <div class="service-table-td">
          <span class="service-table-desc metropolis-medium"><b>SEO</b> (Search Engine Optimization)</span>
        </div>
        <div class="service-table-td">
          <span class="service-table-desc metropolis-medium"><b>Contact</b> Form</span>
        </div>
        <div class="service-table-td">
          <span class="service-table-desc metropolis-medium">Online <b>chat</b></span>
        </div>
        <div class="service-table-td">
          <span class="service-table-desc metropolis-medium"><b>Google Analytics</b> and <b>Facebook Pixel</b></span>
        </div>
        <div class="service-table-td">
          <span class="service-table-desc metropolis-medium">Multi <b>Languaje</b></span>
        </div>
        <div class="service-table-td">
          <span class="service-table-desc metropolis-medium"><b>Newsletter</b></span>
        </div>
        <div class="service-table-td">
          <span class="service-table-desc metropolis-medium"><b>Blog</b></span>
        </div>
        <div class="service-table-td">
          <span class="service-table-desc metropolis-medium"><b>Instagram</b> or <b>Twitter</b> Newsfeed</span>
        </div>
      </div>
      <div class="service-table-tbody-second">
        <div>
          <div class="service-table-td">
            <img class="service-table-check" src="/img/icons/icono-de-comprobacion.png" alt="Ícono de comprobación azul para los elementos de la tabla">
          </div>
          <div class="service-table-td">
            <img class="service-table-check" src="/img/icons/icono-de-comprobacion.png" alt="Ícono de comprobación azul para los elementos de la tabla">
          </div>
          <div class="service-table-td">
            <img class="service-table-check" src="/img/icons/icono-de-comprobacion.png" alt="Ícono de comprobación azul para los elementos de la tabla">
          </div>
          <div class="service-table-td">
            <span class="service-table-text metropolis-semibold">3</span>
          </div>
          <div class="service-table-td">
            <span class="service-table-text metropolis-semibold">Basic</span>
          </div>
          <div class="service-table-td">
            <img class="service-table-check" src="/img/icons/icono-de-comprobacion.png" alt="Ícono de comprobación azul para los elementos de la tabla">
          </div>
          <div class="service-table-td">
          </div>
          <div class="service-table-td">
          </div>
          <div class="service-table-td">
          </div>
          <div class="service-table-td">
          </div>
          <div class="service-table-td">
          </div>
          <div class="service-table-td">
          </div>
        </div>

        <div>
          <div class="service-table-td">
            <img class="service-table-check" src="/img/icons/icono-de-comprobacion.png" alt="Ícono de comprobación azul para los elementos de la tabla">
          </div>
          <div class="service-table-td">
            <img class="service-table-check" src="/img/icons/icono-de-comprobacion.png" alt="Ícono de comprobación azul para los elementos de la tabla">
          </div>
          <div class="service-table-td">
            <img class="service-table-check" src="/img/icons/icono-de-comprobacion.png" alt="Ícono de comprobación azul para los elementos de la tabla">
          </div>
          <div class="service-table-td">
            <span class="service-table-text metropolis-semibold">5</span>
          </div>
          <div class="service-table-td">
            <span class="service-table-text metropolis-semibold">Basic</span>
          </div>
          <div class="service-table-td">
            <img class="service-table-check" src="/img/icons/icono-de-comprobacion.png" alt="Ícono de comprobación azul para los elementos de la tabla">
          </div>
          <div class="service-table-td">
            <img class="service-table-check" src="/img/icons/icono-de-comprobacion.png" alt="Ícono de comprobación azul para los elementos de la tabla">
          </div>
          <div class="service-table-td">
            <img class="service-table-check" src="/img/icons/icono-de-comprobacion.png" alt="Ícono de comprobación azul para los elementos de la tabla">
          </div>
          <div class="service-table-td">
            <img class="service-table-check" src="/img/icons/icono-de-comprobacion.png" alt="Ícono de comprobación azul para los elementos de la tabla">
          </div>
          <div class="service-table-td">
            <img class="service-table-check" src="/img/icons/icono-de-comprobacion.png" alt="Ícono de comprobación azul para los elementos de la tabla">
          </div>
          <div class="service-table-td">
          </div>
          <div class="service-table-td">
          </div>
        </div>

        <div>
          <div class="service-table-td">
            <img class="service-table-check" src="/img/icons/icono-de-comprobacion.png" alt="Ícono de comprobación azul para los elementos de la tabla">
          </div>
          <div class="service-table-td">
            <img class="service-table-check" src="/img/icons/icono-de-comprobacion.png" alt="Ícono de comprobación azul para los elementos de la tabla">
          </div>
          <div class="service-table-td">
            <img class="service-table-check" src="/img/icons/icono-de-comprobacion.png" alt="Ícono de comprobación azul para los elementos de la tabla">
          </div>
          <div class="service-table-td">
            <span class="service-table-text metropolis-semibold">10</span>
          </div>
          <div class="service-table-td">
            <span class="service-table-text metropolis-semibold">Advanced</span>
          </div>
          <div class="service-table-td">
            <img class="service-table-check" src="/img/icons/icono-de-comprobacion.png" alt="Ícono de comprobación azul para los elementos de la tabla">
          </div>
          <div class="service-table-td">
            <img class="service-table-check" src="/img/icons/icono-de-comprobacion.png" alt="Ícono de comprobación azul para los elementos de la tabla">
          </div>
          <div class="service-table-td">
            <img class="service-table-check" src="/img/icons/icono-de-comprobacion.png" alt="Ícono de comprobación azul para los elementos de la tabla">
          </div>
          <div class="service-table-td">
            <img class="service-table-check" src="/img/icons/icono-de-comprobacion.png" alt="Ícono de comprobación azul para los elementos de la tabla">
          </div>
          <div class="service-table-td">
            <img class="service-table-check" src="/img/icons/icono-de-comprobacion.png" alt="Ícono de comprobación azul para los elementos de la tabla">
          </div>
          <div class="service-table-td">
            <img class="service-table-check" src="/img/icons/icono-de-comprobacion.png" alt="Ícono de comprobación azul para los elementos de la tabla">
          </div>
          <div class="service-table-td">
            <img class="service-table-check" src="/img/icons/icono-de-comprobacion.png" alt="Ícono de comprobación azul para los elementos de la tabla">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
