<div class="service-table-container">
  <div class="service-table">
    <div class="service-table-thead">
      <div class="service-table-th">
        <span class="metropolis-semibold">Básico</span>
      </div>
      <div class="service-table-th">
        <span class="metropolis-semibold">Intermedio</span>
      </div>
      <div class="service-table-th">
        <span class="metropolis-semibold">Avanzado</span>
      </div>
    </div>
    <div class="service-table-tbody">
      <div class="service-table-tbody-first">
        <div class="service-table-td">
          <span class="service-table-desc metropolis-medium">Arquitectura de <b>información</b></span>
        </div>
        <div class="service-table-td">
          <span class="service-table-desc metropolis-medium">Diseño a la <b>medida</b></span>
        </div>
        <div class="service-table-td">
          <span class="service-table-desc metropolis-medium">Diseño <b>responsivo</b> (móviles y tablets)</span>
        </div>
        <div class="service-table-td">
          <span class="service-table-desc metropolis-medium">Número de <b>vistas o secciones</b></span>
        </div>
        <div class="service-table-td">
          <span class="service-table-desc metropolis-medium"><b>SEO</b> (Search Engine Optimization)</span>
        </div>
        <div class="service-table-td">
          <span class="service-table-desc metropolis-medium">Formulario de <b>contacto</b></span>
        </div>
        <div class="service-table-td">
          <span class="service-table-desc metropolis-medium"><b>Chat</b> en línea</span>
        </div>
        <div class="service-table-td">
          <span class="service-table-desc metropolis-medium"><b>Google Analytics</b> y <b>FB</b> pixel</span>
        </div>
        <div class="service-table-td">
          <span class="service-table-desc metropolis-medium">Multi <b>idioma</b> (2 idiomas)</span>
        </div>
        <div class="service-table-td">
          <span class="service-table-desc metropolis-medium"><b>Newsletter</b> con Mailchimp</span>
        </div>
        <div class="service-table-td">
          <span class="service-table-desc metropolis-medium"><b>Blog</b></span>
        </div>
        <div class="service-table-td">
          <span class="service-table-desc metropolis-medium">Feed de <b>Instagram</b> o <b>Twitter</b></span>
        </div>
      </div>
      <div class="service-table-tbody-second">
        <div>
          <div class="service-table-td">
            <img class="service-table-check" src="/img/icons/icono-de-comprobacion.png" alt="Ícono de comprobación azul para los elementos de la tabla">
          </div>
          <div class="service-table-td">
            <img class="service-table-check" src="/img/icons/icono-de-comprobacion.png" alt="Ícono de comprobación azul para los elementos de la tabla">
          </div>
          <div class="service-table-td">
            <img class="service-table-check" src="/img/icons/icono-de-comprobacion.png" alt="Ícono de comprobación azul para los elementos de la tabla">
          </div>
          <div class="service-table-td">
            <span class="service-table-text metropolis-semibold">3</span>
          </div>
          <div class="service-table-td">
            <span class="service-table-text metropolis-semibold">Básico</span>
          </div>
          <div class="service-table-td">
            <img class="service-table-check" src="/img/icons/icono-de-comprobacion.png" alt="Ícono de comprobación azul para los elementos de la tabla">
          </div>
          <div class="service-table-td">
          </div>
          <div class="service-table-td">
          </div>
          <div class="service-table-td">
          </div>
          <div class="service-table-td">
          </div>
          <div class="service-table-td">
          </div>
          <div class="service-table-td">
          </div>
        </div>

        <div>
          <div class="service-table-td">
            <img class="service-table-check" src="/img/icons/icono-de-comprobacion.png" alt="Ícono de comprobación azul para los elementos de la tabla">
          </div>
          <div class="service-table-td">
            <img class="service-table-check" src="/img/icons/icono-de-comprobacion.png" alt="Ícono de comprobación azul para los elementos de la tabla">
          </div>
          <div class="service-table-td">
            <img class="service-table-check" src="/img/icons/icono-de-comprobacion.png" alt="Ícono de comprobación azul para los elementos de la tabla">
          </div>
          <div class="service-table-td">
            <span class="service-table-text metropolis-semibold">5</span>
          </div>
          <div class="service-table-td">
            <span class="service-table-text metropolis-semibold">Básico</span>
          </div>
          <div class="service-table-td">
            <img class="service-table-check" src="/img/icons/icono-de-comprobacion.png" alt="Ícono de comprobación azul para los elementos de la tabla">
          </div>
          <div class="service-table-td">
            <img class="service-table-check" src="/img/icons/icono-de-comprobacion.png" alt="Ícono de comprobación azul para los elementos de la tabla">
          </div>
          <div class="service-table-td">
            <img class="service-table-check" src="/img/icons/icono-de-comprobacion.png" alt="Ícono de comprobación azul para los elementos de la tabla">
          </div>
          <div class="service-table-td">
            <img class="service-table-check" src="/img/icons/icono-de-comprobacion.png" alt="Ícono de comprobación azul para los elementos de la tabla">
          </div>
          <div class="service-table-td">
            <img class="service-table-check" src="/img/icons/icono-de-comprobacion.png" alt="Ícono de comprobación azul para los elementos de la tabla">
          </div>
          <div class="service-table-td">
          </div>
          <div class="service-table-td">
          </div>
        </div>

        <div>
          <div class="service-table-td">
            <img class="service-table-check" src="/img/icons/icono-de-comprobacion.png" alt="Ícono de comprobación azul para los elementos de la tabla">
          </div>
          <div class="service-table-td">
            <img class="service-table-check" src="/img/icons/icono-de-comprobacion.png" alt="Ícono de comprobación azul para los elementos de la tabla">
          </div>
          <div class="service-table-td">
            <img class="service-table-check" src="/img/icons/icono-de-comprobacion.png" alt="Ícono de comprobación azul para los elementos de la tabla">
          </div>
          <div class="service-table-td">
            <span class="service-table-text metropolis-semibold">10</span>
          </div>
          <div class="service-table-td">
            <span class="service-table-text metropolis-semibold">Avanzado</span>
          </div>
          <div class="service-table-td">
            <img class="service-table-check" src="/img/icons/icono-de-comprobacion.png" alt="Ícono de comprobación azul para los elementos de la tabla">
          </div>
          <div class="service-table-td">
            <img class="service-table-check" src="/img/icons/icono-de-comprobacion.png" alt="Ícono de comprobación azul para los elementos de la tabla">
          </div>
          <div class="service-table-td">
            <img class="service-table-check" src="/img/icons/icono-de-comprobacion.png" alt="Ícono de comprobación azul para los elementos de la tabla">
          </div>
          <div class="service-table-td">
            <img class="service-table-check" src="/img/icons/icono-de-comprobacion.png" alt="Ícono de comprobación azul para los elementos de la tabla">
          </div>
          <div class="service-table-td">
            <img class="service-table-check" src="/img/icons/icono-de-comprobacion.png" alt="Ícono de comprobación azul para los elementos de la tabla">
          </div>
          <div class="service-table-td">
            <img class="service-table-check" src="/img/icons/icono-de-comprobacion.png" alt="Ícono de comprobación azul para los elementos de la tabla">
          </div>
          <div class="service-table-td">
            <img class="service-table-check" src="/img/icons/icono-de-comprobacion.png" alt="Ícono de comprobación azul para los elementos de la tabla">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
