{% extends "partials/base.njk" %}

{% block title %}About Us{% endblock %}

{% set meta_description = "We’re a Multidisciplinary team. We Design and Develop Online Stores, Websites and Points of Sale." %}
{% set og_url = "https://getmore.mx/en/about-us.html" %}
{% set og_title = "About Us | Get More" %}
{% set og_description = "We’re a Multidisciplinary team. We Design and Develop Online Stores, Websites and Points of Sale." %}
{% set og_img = "/img/seo/nosotros-seo.jpg" %}
{% set og_img_width = "1848" %}
{% set og_img_height = "708" %}

{% set view_name = "aboutus" %}
{% set lang_view = "english" %}

{% block content %}
<section class="about">
  <section class="about-cover">
    <h1 class="about-cover-title metropolis-bold">{{en.aboutus.cover.title}}</h1>
  </section>

  <section class="about-intro">
    <div class="about-intro-content">
      <p class="about-intro-desc metropolis-regular">{{en.aboutus.intro.desc}}&nbsp;<span class="metropolis-bold"><br>{{en.aboutus.intro.descBold}}</span></p>
    </div>
  </section>

  <section class="about-us">
    <div class="about-pillars-title-container">
      <span class="about-bigtext nosotros metropolis-bold">{{en.aboutus.about.bigText}}</span>
      <h2 class="about-pillars-title metropolis-bold">{{en.aboutus.about.title}}</h2>
    </div>
    <p class="about-us-desc metropolis-regular">{{en.aboutus.about.descOne}}<br>{{en.aboutus.about.descTwo}}</p>
    <div class="about-us-card">
      <h3 class="about-us-card-title metropolis-bold">{{en.aboutus.about.card.subtitle}}</h3>
      <div class="about-us-card-desc-container">
        <p class="about-us-card-desc metropolis-regular">{{en.aboutus.about.card.descOnePartOne}}&nbsp;<a class="metropolis-bold" href="{{en.aboutus.about.card.linkOne}}">{{en.aboutus.about.card.descLinkOne}}</a>&nbsp;{{en.aboutus.about.card.descOnePartTwo}}</p>
        <p class="about-us-card-desc metropolis-regular">{{en.aboutus.about.card.descTwoPartOne}}&nbsp;<a class="metropolis-bold" href="{{en.aboutus.about.card.linkTwo}}">{{en.aboutus.about.card.descLinkTwo}}</a>&nbsp;{{en.aboutus.about.card.descTwoPartTwo}}</p>
      </div>
    </div>
  </section>

  <section class="about-pillars">
    <div class="about-pillars-title-container">
      <span class="about-bigtext pilares metropolis-bold">{{en.aboutus.pillars.bigText}}</span>
      <h2 class="about-pillars-title metropolis-bold">{{en.aboutus.pillars.title}}</h2>
    </div>
    <div class="about-pillars-card">
      {% for card in en.aboutus.pillars.card %}
      <div class="about-pillars-content">
        <h3 class="about-pillars-subtitle metropolis-medium">{{card.title}}</h3>
        <p class="about-pillars-desc metropolis-regular">{{card.desc}}</p>
      </div>
      {% endfor %}
    </div>
  </section>

  <section class="about-work">
    <h2 class="about-work-title metropolis-bold">{{en.aboutus.work.title}}</h2>
    <div class="about-work-row">
      <a class="btn metropolis-bold" href="{{en.aboutus.work.btnLink}}">{{en.aboutus.work.btn}}</a>
      <h3 class="about-work-subtitle metropolis-bold">{{en.aboutus.work.bigText}}</h3>
    </div>
  </section>
</section>
{% endblock %}
