{% extends "partials/base.njk" %}

{% block title %}Contact us{% endblock %}

{% set meta_description = "Leave us your information and we will be happy to contact you to help you with your online store or website." %}
{% set og_url = "https://getmore.mx/en/contact-us.html" %}
{% set og_title = "Contact us | Get More" %}
{% set og_description = "Leave us your information and we will be happy to contact you to help you with your online store or website." %}
{% set og_img = "/img/seo/contacto-seo.jpg" %}
{% set og_img_width = "728" %}
{% set og_img_height = "437" %}

{% set view_name = "contact" %}
{% set lang_view = "english" %}

{% block content %}
<section class="hsbase">
  <h1 class="hsbase-title metropolis-bold">{{en.contacto.title}}</h1>
  <div class="hsbase-form-container">
    <div class="hsbase-form">
      <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/shell.js"></script>
      <script>
        hbspt.forms.create({
          portalId: "3998157",
          formId: "21407449-a547-4467-b695-541faf8b29c6"
      });
      </script>
    </div>
  </div>
</section>
{% endblock %}
