{% extends "partials/base.njk" %}

{% block title %}Online Stores & Websites{% endblock %}

{% set meta_description = "Experts in the design and development of online stores and websites. Regardless of the size of your company, we will help you sell online." %}
{% set og_url = "https://getmore.mx/index.html" %}
{% set og_title = "Experts in Online Stores & Websites | Get More" %}
{% set og_description = "Experts in the design and development of online stores and websites. Regardless of the size of your company, we will help you sell online." %}
{% set og_img = "/img/seo/inicio-seo.jpg" %}
{% set og_img_width = "728" %}
{% set og_img_height = "437" %}

{% set view_name = "homepage" %}
{% set lang_view = "english" %}

{% block content %}
<section class="home">
  <section class="home-cover">
    <img class="home-cover-img-left" src="{{en.home.cover.imgLeft}}" alt="{{en.home.cover.imgLeftAlt}}" data-aos="fade-up" data-aos-delay="600" data-aos-duration="3000">
    <div class="home-cover-content">
      <img class="home-cover-logo" src="{{en.home.cover.shopifyLogo}}" alt="{{en.home.cover.shopifyLogoAlt}}">
      <span class="home-cover-subtitle metropolis-medium">{{en.home.cover.subtitlePart1}} <span class="metropolis-bold">{{en.home.cover.subtitlePart2}}</span> {{en.home.cover.subtitlePart3}} <span class="metropolis-bold">{{en.home.cover.subtitlePart4}}</span></span>
      <h1 class="home-cover-title metropolis-bold">{{en.home.cover.title}}</h1>
      <a class="btn metropolis-bold" href="{{en.home.cover.btnLink}}">{{en.home.cover.btn}}</a>
    </div>
    <img class="home-cover-scrolling" src="{{en.home.cover.scrollIndicator}}" alt="{{en.home.cover.scrollIndicatorAlt}}">
    <img class="home-cover-img-right" src="{{en.home.cover.imgRight}}" alt="{{en.home.cover.imgRightAlt}}" data-aos="fade-up" data-aos-delay="600" data-aos-duration="3000">
  </section>

  <section class="home-services">
    <span class="vertical-text metropolis-bold">{{en.home.cover.verticalText}}</span>
    <h2 class="home-services-title metropolis-bold">{{en.home.services.title}}</h2>
    <div class="home-services-container">
      {% for service in en.home.services.information %}
      <div class="home-services-item-container">
        <div class="home-services-icon-container">
          <img class="{{service.iconClass}}" src="{{service.icon}}" alt="{{service.iconAlt}}">
        </div>
        <h4 class="home-services-item-title metropolis-semibold">{{service.title}} {% if service.titleItalic %}<span class="metropolis-semibolditalic">{{service.titleItalic}}</span>{% endif %}</h4>
        <p class="home-services-descr metropolis-regular">{{service.descOne}} <span class="metropolis-bold">{{service.descBold}}</span> {{service.descTwo}}</p>
        {% if service.shopifyLogo %}<img class="{{service.shopifyLogoClass}}" src="{{service.shopifyLogo}}" alt="{{service.shopifyLogoAlt}}">{% endif %}
      </div>
      {% endfor %}
    </div>
    <div class="home-services-mobile-carousel owl-carousel">
      {% for service in en.home.services.information %}
      <div class="home-services-item-container">
        <div class="home-services-icon-container">
          <img class="{{service.iconClass}}" src="{{service.icon}}" alt="{{service.iconAlt}}">
        </div>
        <h4 class="home-services-item-title metropolis-semibold">{{service.title}} {% if service.titleItalic %}<span class="metropolis-semibolditalic">{{service.titleItalic}}</span>{% endif %}</h4>
        <p class="home-services-descr metropolis-regular">{{service.descOne}} <span class="metropolis-bold">{{service.descBold}}</span> {{service.descTwo}}</p>
        {% if service.shopifyLogo %}<img class="{{service.shopifyLogoClass}}" src="{{service.shopifyLogo}}" alt="{{service.shopifyLogoAlt}}">{% endif %}
      </div>
      {% endfor %}
    </div>
    <div class="home-services-btn-container">
      <a class="btn metropolis-bold" href="{{en.home.services.btnLink}}">{{en.home.services.btn}}</a>
    </div>
    <h3 class="home-services-ourwork metropolis-bold">{{en.home.services.ourWork}}</h3>
  </section>

  <section class="home-bannerone">
    <span class="section-tag metropolis-regular">{{en.home.bannerone.tag}}<img src="{{en.home.bannerone.tagIcon}}" alt="{{en.home.bannerone.tagIconAlt}}"></span>
    <div class="home-bannerone-info">
      <h3 class="banner-title metropolis-bold">{{en.home.bannerone.title}}</h3>
      <p class="banner-desc metropolis-medium">{{en.home.bannerone.desc}}</p>
      <div class="home-bannerone-logo-container">
        <img class="{{en.home.bannerone.shopifyLogoClass}}" src="{{en.home.bannerone.shopifyLogo}}" alt="{{en.home.bannerone.shopifyLogoAlt}}">
      </div>
      <a class="btn transparent metropolis-bold" href="{{en.home.bannerone.btnLink}}">{{en.home.bannerone.btn}}</a>
    </div>
    <div>
      <div class="home-bannerone-animation">
        <div class="home-bannerone-animation-bar">
          <div class="home-bannerone-animation-dot-container">
            <div class="home-bannerone-animation-dot"></div>
            <div class="home-bannerone-animation-dot"></div>
            <div class="home-bannerone-animation-dot"></div>
          </div>
        </div>
        <img class="home-bannerone-animation-img" src="{{en.home.bannerone.img}}" alt="{{en.home.bannerone.imgAlt}}">
      </div>
      <div class="home-bannerone-lowerinfo">
        <h6 class="banner-subtitle metropolis-bold">{{en.home.bannerone.project}}</h6>
        <div>
          <h6 class="banner-subtitle metropolis-bold">{{en.home.bannerone.type}}</h6>
          <span class="banner-desc metropolis-medium">{{en.home.bannerone.typeDesc}}</span>
        </div>
      </div>
    </div>
    <span class="vertical-text metropolis-bold">{{en.home.bannerone.verticalText}}</span>
  </section>

  <section class="home-bannertwo">
    <span class="section-tag metropolis-regular">{{en.home.bannertwo.tag}}<img src="{{en.home.bannertwo.tagIcon}}" alt="{{en.home.bannertwo.tagIconAlt}}"></span>
    <div class="home-bannertwo-img"></div>
    <div class="home-bannertwo-devices">
      <div class="home-bannertwo-devices-container">
        <img class="home-bannertwo-devices-img" src="{{en.home.bannertwo.imgOne}}" alt="{{en.home.bannertwo.imgOneAlt}}">
      </div>
      <div class="home-bannertwo-devices-container">
        <img class="home-bannertwo-devices-img" src="{{en.home.bannertwo.imgTwo}}" alt="{{en.home.bannertwo.imgTwoAlt}}">
      </div>
    </div>
    <div class="home-bannertwo-content">
      <div class="home-bannertwo-info">
        <h3 class="banner-title metropolis-bold">{{en.home.bannertwo.title}}</h3>
        <p class="banner-desc metropolis-medium">{{en.home.bannertwo.desc}}</p>
        <img class="{{en.home.bannerone.shopifyLogoClass}}" src="{{en.home.bannertwo.shopifyLogo}}" alt="{{en.home.bannerone.shopifyLogoAlt}}">
        <div class="home-bannertwo-lowerinfo">
          <h6 class="banner-subtitle metropolis-bold">{{en.home.bannertwo.subtitle}}</h6>
          <span class="banner-desc metropolis-medium">{{en.home.bannertwo.subDesc}}</span>
          <a class="btn metropolis-bold" href="{{en.home.bannertwo.btnLink}}">{{en.home.bannertwo.btn}}</a>
        </div>
      </div>
    </div>
    <span class="vertical-text metropolis-bold">{{en.home.bannertwo.verticalText}}</span>
  </section>

  <section class="home-bannerthree">
    <div class="home-bannerthree-content">
      <h3 class="banner-title metropolis-bold">{{en.home.bannerthree.title}}</h3>
      <p class="banner-desc metropolis-medium">{{en.home.bannerthree.desc}}</p>
      <a class="btn metropolis-bold" href="{{en.home.bannerthree.btnLink}}">{{en.home.bannerthree.btn}}</a>
      <div class="home-bannerthree-lowerinfo">
        <h6 class="banner-subtitle metropolis-bold">{{en.home.bannerthree.subtitle}}</h6>
        <span class="banner-desc metropolis-medium">{{en.home.bannerthree.subDesc}}</span>
        <img class="{{en.home.bannerthree.shopifyLogoClass}}" src="{{en.home.bannerthree.shopifyLogo}}" alt="{{en.home.bannerthree.shopifyLogoAlt}}">
      </div>
    </div>
    <div class="home-bannerthree-background">
      <div class="home-bannerthree-tablet-container">
        <img class="home-bannerthree-tablet" src="{{en.home.bannerthree.img}}" alt="{{en.home.bannerthree.imgAlt}}">
      </div>
    </div>
    <span class="section-tag metropolis-regular">{{en.home.bannerthree.tag}}<img src="{{en.home.bannerthree.tagIcon}}" alt="{{en.home.bannerthree.tagIconAlt}}"></span>
  </section>

  <section class="home-start">
    <div class="home-start-content">
      <h3 class="home-start-title metropolis-bold">{{en.home.start.title}}</h3>
      <div class="home-start-btns" id="home-start-btns-english">
        <a class="btn borderBlack metropolis-bold" href="{{en.home.start.btnLeftLink}}">{{en.home.start.btnLeft}}</a>
        <a class="btn metropolis-bold" href="{{en.home.start.btnRightLink}}">{{en.home.start.btnRight}}</a>
      </div>
    </div>
  </section>
</section>
{% endblock %}
