{% extends "partials/base.njk" %}

{% block title %}Examples of web design and development{% endblock %}

{% set meta_description = "See how we have helped small and large companies to have a digital presence and increase their online sales." %}
{% set og_url = "https://getmore.mx/en/our-work.html" %}
{% set og_title = "Examples of web design and development | Get More" %}
{% set og_description = "See how we have helped small and large companies to have a digital presence and increase their online sales." %}
{% set og_img = "/img/seo/portafolio-seo.jpg" %}
{% set og_img_width = "728" %}
{% set og_img_height = "435" %}

{% set view_name = "ourwork" %}
{% set lang_view = "english" %}

{% block content %}
<section class="ourwork">
  <section class="ourwork-header">
    <h1 class="ourwork-title metropolis-bold">{{en.portfolio.title}}</h1>
  </section>

  <section>
    <ul role="tablist" class="ourwork-tab-container">
      {% for tab in en.portfolio.tabs %}
      <li class="ourwork-tab"><a role="tab" aria-controls="{{tab.id}}" class="ourwork-tab-link" href="{{tab.hash}}"><h2 class="metropolis-semibold">{{tab.title}}</h2></a></li>
      {% endfor %}
    </ul>

    <div role="tabpanel" id="view-all">
      <div class="ourwork-tab-content">
        {% for project in en.portfolio.projects %}
        {% if project.tagAll == true %}
        <div class="ourwork-project itemAll moreAll" data-tags="{{project.tags}}">
          <img class="ourwork-project-img" data-src="{{project.img}}" alt="{{project.imgAlt}}">
          <h3 class="ourwork-project-title metropolis-bold">{{project.title}}</h3>
          <a href="{{project.hoverIconLink}}">
            <div class="ourwork-project-layer {{project.layerClass}}" onClick="return true">
              <img class="{{project.layerLogoClass}}" src="{{project.layerLogo}}" alt="{{project.layerLogoAlt}}">
              <img class="ourwork-project-icon" src="{{en.portfolio.hoverIcon}}" alt="{{en.portfolio.hoverIcon}}">
            </div>
          </a>
        </div>
        {% endif %}
        {% endfor %}
        <div class="ourwork-project-btn-container" id="load-all">
          <a class="btn borderBlack metropolis-bold" href="">{{en.portfolio.btn}}</a>
        </div>
      </div>
    </div>

    <div role="tabpanel" id="online-stores">
      <div class="ourwork-tab-content">
        {% for project in en.portfolio.projects %}
        {% if project.tagOnlineStore == true %}
        <div class="ourwork-project itemOnlineStore moreOnlineStore" data-tags="{{project.tags}}">
          <img class="ourwork-project-img" data-src="{{project.img}}" alt="{{project.imgAlt}}">
          <h3 class="ourwork-project-title metropolis-bold">{{project.title}}</h3>
          <a href="{{project.hoverIconLink}}">
            <div class="ourwork-project-layer {{project.layerClass}}" onClick="return true">
              <img class="{{project.layerLogoClass}}" src="{{project.layerLogo}}" alt="{{project.layerLogoAlt}}">
              <img class="ourwork-project-icon" src="{{en.portfolio.hoverIcon}}" alt="{{en.portfolio.hoverIcon}}">
            </div>
          </a>
        </div>
        {% endif %}
        {% endfor %}
        <div class="ourwork-project-btn-container" id="load-online-store">
          <a class="btn borderBlack metropolis-bold" href="">{{en.portfolio.btn}}</a>
        </div>
      </div>
    </div>

    <div role="tabpanel" id="websites">
      <div class="ourwork-tab-content">
        {% for project in en.portfolio.projects %}
        {% if project.tagWebPage == true %}
        <div class="ourwork-project itemWebPages moreWebPages" data-tags="{{project.tags}}">
          <img class="ourwork-project-img" data-src="{{project.img}}" alt="{{project.imgAlt}}">
          <h3 class="ourwork-project-title metropolis-bold">{{project.title}}</h3>
          <a href="{{project.hoverIconLink}}">
            <div class="ourwork-project-layer {{project.layerClass}}" onClick="return true">
              <img class="{{project.layerLogoClass}}" src="{{project.layerLogo}}" alt="{{project.layerLogoAlt}}">
              <img class="ourwork-project-icon" src="{{en.portfolio.hoverIcon}}" alt="{{en.portfolio.hoverIcon}}">
            </div>
          </a>
        </div>
        {% endif %}
        {% endfor %}
        <div class="ourwork-project-btn-container" id="load-web-pages">
          <a class="btn borderBlack metropolis-bold" href="">{{en.portfolio.btn}}</a>
        </div>
      </div>
    </div>

    <div role="tabpanel" id="point-of-sale">
      <div class="ourwork-tab-content">
        {% for project in en.portfolio.projects %}
        {% if project.tagPOS == true %}
        <div class="ourwork-project itemPOS morePOS" data-tags="{{project.tags}}">
          <img class="ourwork-project-img" data-src="{{project.img}}" alt="{{project.imgAlt}}">
          <h3 class="ourwork-project-title metropolis-bold">{{project.title}}</h3>
          <a href="{{project.hoverIconLink}}">
            <div class="ourwork-project-layer {{project.layerClass}}" onClick="return true">
              <img class="{{project.layerLogoClass}}" src="{{project.layerLogo}}" alt="{{project.layerLogoAlt}}">
              <img class="ourwork-project-icon" src="{{en.portfolio.hoverIcon}}" alt="{{en.portfolio.hoverIcon}}">
            </div>
          </a>
        </div>
        {% endif %}
        {% endfor %}
      </div>
    </div>
  </section>
</section>

{% endblock %}
