{% extends "partials/base.njk" %}

{% block title %}Quote your online store or website{% endblock %}

{% set meta_description = "Tell us about your online store or website to send you a personalized quote." %}
{% set og_url = "https://getmore.mx/en/quote.html" %}
{% set og_title = "Quote your online store or website | Get More" %}
{% set og_description = "Tell us about your online store or website to send you a personalized quote." %}
{% set og_img = "/img/seo/cotiza-seo.jpg" %}
{% set og_img_width = "728" %}
{% set og_img_height = "437" %}

{% set view_name = "quote" %}
{% set lang_view = "english" %}

{% block content %}
<section class="hsbase">
  <h1 class="hsbase-title metropolis-bold">{{en.quote.title}}</h1>
  <div class="hsbase-form-container">
    <div class="hsbase-form">
      <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/shell.js"></script>
      <script>
        hbspt.forms.create({
          portalId: "3998157",
          formId: "aad0df00-000e-4256-a749-669639d20897"
      });
      </script>
    </div>
  </div>
</section>
{% endblock %}
