.footer
  background-color $whiteT1
  bottom 0
  display flex
  flex-direction column
  height 330px
  justify-content space-between
  padding 44px 92px
  position relative
  width 100%

  &-content
    margin 0 0 0 auto

  &-logo
    height 21px
    width 88px

  &-section
    color $blackT2
    font-size 10px
    letter-spacing 2.2px
    text-transform uppercase

    &-container
      align-items center
      display flex
      flex-direction row
      margin-top 16px

      & a:nth-child(2)
        margin 0 15px

  &-copyrigth
    color $blackT2
    font-size 10px
    letter-spacing 0.8px
    text-align center

  &-decorator
    bottom 0
    height 132px
    position absolute
    right 60px

@media screen and (max-width 650px)
  .footer
    height 492px
    justify-content flex-start

    &-content
      align-items center
      display flex
      flex-direction column
      margin 0 auto 19px auto

    &-decorator
      display none
