.footer
  background-color $whiteT1
  bottom 0
  display flex
  flex-direction column
  height 330px
  justify-content space-between
  padding 15px 92px 40px 0
  position relative
  width 100%

  &-background
    background-image url("/img/utils/example-akai-in-laptop.png")
    background-position center
    background-repeat no-repeat
    background-size contain
    bottom 170px
    height 425px
    left 0
    position absolute
    width 439px
    z-index 1

  &-content
    margin 0 0 0 auto

  &-logo
    height 18px
    width 103px

  &-section
    color $blackT2
    font-size 10px
    letter-spacing 2.2px
    line-height 22px
    margin-right 15px
    text-transform uppercase

    &:hover,
    &.active
      color $blueT1

    &.borderBlack
      height 29px

    &-container
      align-items center
      display flex
      flex-direction row
      flex-wrap wrap
      margin-top 16px
      width 340px

  &-email
    color $blackT2
    display block
    font-size 14px
    margin-top 15px

  &-copyrigth
    color $blackT2
    font-size 12px
    letter-spacing 0.8px
    text-align center

  &-decorator
    bottom 0
    height 132px
    position absolute
    right 60px

@media screen and (max-width 940px)
  .footer
    &-background
      bottom 90px
      height 334px
      width 375px

    &-decorator
      right 30px

@media screen and (max-width 650px)
  .footer
    height 566px
    justify-content flex-start
    padding 44px 0 44px 0

    &-background
      bottom 0

    &-content
      align-items center
      display flex
      flex-direction column
      margin 0 auto 19px auto

    &-section
      margin 0 7px

      &-container
        justify-content center
        margin-top 35px

      &.btn.borderBlack
        margin-top 0

    &-decorator
      display none

    &-email
      margin 35px 0 12px 0

    &-decorator
      display none

@media screen and (max-width 460px)
  .footer
    &-background
      height 300px
      width 335px

    &-section
      &-container
        width 260px
