.nav
  align-items center
  background-color transparent
  display flex
  height 80px
  justify-content space-between
  left 0
  padding 0 40px
  position fixed
  top 0
  transition 0.2s
  width 100%
  z-index 12

  &-logo
    height 22px
    width 125.88px

    &-scroll
      display none
      height 18px
      width 103px

  &-scroll
    align-items center
    background-color rgba(49, 49, 49, 0.9)
    height 55px
    transition 0.2s

    & .nav-logo
      display none

    & .nav-logo-scroll
      display block

    & .nav-option
      color $whiteT1

      &:hover,
      &.active
        color $whiteT1
        font-weight $bold

    & .dropdown-btn:after
      background-image url("/img/icons/icono-dropdown.png")

    & .special-btn
      border solid 1px $whiteT1
      color $whiteT1

  &-option
    color $blackT1
    font-size 12px
    letter-spacing 2px
    text-transform uppercase

    &:hover,
    &.active
      color $blueT1
      font-weight $semibold

    &-container
      display flex
      flex-direction row

    &-content
      align-items center
      display flex
      margin-left 20px
      position relative

  &-lang
    color $grayT3
    display block
    font-size 12px
    letter-spacing 1.7px
    height 11px

    &-mobile
      display none

    &-container
      align-items center
      border-radius 16px
      background-color $whiteT1
      display flex
      flex-direction row
      height 26px
      margin-left 20px
      width 67px

    &-content
      margin 0 13px

      & a
        padding 5px

    &-active
      align-items center
      border-radius 100px
      background-color $blueT1
      color #ffffff
      display flex
      height 27px
      justify-content center
      margin 0
      min-width 27px
      text-indent 2px

      & a span
        color $whiteT1

.special-btn
  align-items center
  border solid 1px $blackT2
  color $blackT2
  display flex
  font-size 12px
  height 29px
  justify-content center
  letter-spacing 2px
  padding-top 2px
  transition 0.3s
  width 140px

  &:hover,
  &.active
    background-color $blueT1
    border solid 1px $blueT1 !important
    color $whiteT1
    transition 0.3s

.hamburger
  &-visibility
    position absolute

  &-menu
    &-container
      position absolute
      visibility hidden

/*Dropdown Styles*/

.dropdown
  align-items center
  display flex
  margin-right 20px
  padding-top 2px
  position relative

  &:hover .dropdown-content
    display flex

  &-btn
    background-color transparent
    border none
    cursor pointer
    padding 2px 0 0 0
    position relative

    &:after
      background-image url("/img/icons/icono-dropdown-negro.png")
      background-repeat no-repeat
      background-size contain
      bottom 0
      content ""
      display block
      height 5px
      margin auto
      position absolute
      right -15px
      top 0
      width 8px

  &-content
    background-color rgba(49,49,49,1)
    box-shadow 0px 8px 16px 0px rgba(0,0,0,0.2)
    display none
    flex-direction column
    min-width 190px
    padding 8px 20px
    position absolute
    top 100%
    z-index 1

    & a
      margin 10px 0

    & .nav-option
      color $whiteT1

@media screen and (max-width: 890px)
  .nav
    justify-content space-between
    height 70px
    padding 0 18px

    &-logo
      &-container
        width 100%

    &-option
      color $whiteT1
      font-size 14px
      letter-spacing 2.5px

      &-container
        display none

      &-content
        height 49px
        margin-left 0
        padding-left 30px

        &.active
          background-color #000000

        & > a
          align-items center
          display flex
          height 100%
          width 100%

        &:last-child
          margin-top 13px

      &.special-btn
        background-color $blueT1
        border solid 1px $blueT1
        color $whiteT1
        height 34px
        margin-left -13px
        width 140px

        &:hover
          background-color $blueT5
          border solid 1px $blueT5 !important

    &-scroll
      & .hamburger-line-icon
        background-color $whiteT1

    &-lang
      &-container
        margin-left 0

      &-mobile
        display block
        margin-right 40px

  .hamburger
    background-color transparent
    display flex
    height 33px
    justify-content center
    width 33px

    &-visibility
      cursor pointer
      position initial

    &-logo
      height 18px
      width 103px

      &-container
        height 25px

    &-close
      cursor pointer
      height 16px
      width 16px

      &-container
        height 16px

    &-menu
      &-container
        background-color rgba(38, 38, 38, 1)
        bottom 0
        overflow scroll
        position fixed
        right 0
        top 0
        transition 0.5s
        transform translateX(100%)
        width 70%
        z-index 13

        &.show-hamburger
          transform translateX(0)
          transition 0.5s
          visibility visible

      &-header
        align-items center
        display flex
        flex-direction row
        justify-content flex-end
        padding 22px 30px 50px 30px

    &-text
      color white
      padding 10px 0

      &-container
        margin 35px 0

    &-active,
    &-text:hover
      font-weight bold
      text-decoration underline

    &-line
      &-icon
        background-color $blackT2
        height 3px
        width 22px

        &-container
          display flex
          flex-direction column
          justify-content center

        &:nth-child(2)
          margin 4px 0
