{% extends "partials/base.njk" %}

{% block title %}Contáctanos{% endblock %}

{% set meta_description = "Dejanos tus datos y con gusto nos pondremos en contacto para ayudarte con tu tienda en línea o página web." %}
{% set og_url = "https://getmore.mx/es/contacto.html" %}
{% set og_title = "Contáctanos | Get More" %}
{% set og_description = "Dejanos tus datos y con gusto nos pondremos en contacto para ayudarte con tu tienda en línea o página web." %}
{% set og_img = "/img/seo/contacto-seo.jpg" %}
{% set og_img_width = "728" %}
{% set og_img_height = "437" %}

{% set view_name = "contact" %}
{% set lang_view = "spanish" %}

{% block content %}
<section class="hsbase">
  <h1 class="hsbase-title metropolis-bold">{{es.contacto.title}}</h1>
  <div class="hsbase-form-container">
    <div class="hsbase-form">
      <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/shell.js"></script>
      <script>
        hbspt.forms.create({
          portalId: "3998157",
          formId: "1e7da85d-6e7a-45a5-bafc-638e2e734868"
      });
      </script>
    </div>
  </div>
</section>
{% endblock %}
