{% extends "partials/base.njk" %}

{% block title %}This{% endblock %}

{% set meta_description = "" %}
{% set og_url = "" %}
{% set og_title = "" %}
{% set og_description = "" %}
{% set og_img = "" %}
{% set og_img_width = "" %}
{% set og_img_height = "" %}

{% set view_name = "quote" %}
{% set lang_view = "spanish" %}

{% block content %}
<section class="hsbase">
  <h1 class="hsbase-title metropolis-bold">{{es.quote.title}}</h1>
  <div class="hsbase-form">
    <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/shell.js"></script>
    <script>
      hbspt.forms.create({
        portalId: "3998157",
        formId: "5d87044d-dc7e-4f76-8307-84e52b012d92"
    });
    </script>
  </div>
</section>
{% endblock %}
