{% extends "partials/base.njk" %}

{% block title %}Tiendas en línea y páginas web{% endblock %}

{% set meta_description = "Expertos en el diseño y en la programación de tiendas en línea y de páginas web. Sin importar el tamaño de tu empresa, nosotros te ayudamos a vender en internet." %}
{% set og_url = "https://getmore.mx/es/index.html" %}
{% set og_title = "Expertos en tiendas en línea y en páginas web | Get More" %}
{% set og_description = "Expertos en el diseño y en la programación de tiendas en línea y de páginas web. Sin importar el tamaño de tu empresa, nosotros te ayudamos a vender en internet." %}
{% set og_img = "" %}
{% set og_img_width = "" %}
{% set og_img_height = "" %}

{% set view_name = "homepage" %}
{% set lang_view = "spanish" %}

{% block content %}
<section class="home">
  <section class="home-cover">
    <img class="home-cover-img-left" src="{{es.home.cover.imgLeft}}" alt="{{es.home.cover.imgLeftAlt}}" data-aos="fade-up" data-aos-delay="600" data-aos-duration="3000">
    <div class="home-cover-content">
      <img class="home-cover-logo" src="{{es.home.cover.shopifyLogo}}" alt="{{es.home.cover.shopifyLogoAlt}}">
      <span class="home-cover-subtitle metropolis-medium">{{es.home.cover.subtitlePart1}} <span class="metropolis-bold">{{es.home.cover.subtitlePart2}}</span> {{es.home.cover.subtitlePart3}} <span class="metropolis-bold">{{es.home.cover.subtitlePart4}}</span></span>
      <h1 class="home-cover-title metropolis-bold">{{es.home.cover.title}}</h1>
      <a class="btn metropolis-bold" href="">{{es.home.cover.btn}}</a>
    </div>
    <img class="home-cover-scrolling" src="/img/icons/scroll-indicator.png">
    <img class="home-cover-img-right" src="{{es.home.cover.imgRight}}" alt="{{es.home.cover.imgRightAlt}}" data-aos="fade-up" data-aos-delay="600" data-aos-duration="3000">
  </section>

  <section class="home-services">
    <span class="vertical-text metropolis-bold">{{es.home.cover.verticalText}}</span>
    <h2 class="home-services-title metropolis-bold">{{es.home.services.title}}</h2>
    <div class="home-services-container">
      {% for service in es.home.services.information %}
      <div class="home-services-item-container">
        <div class="home-services-icon-container">
          <img class="{{service.iconClass}}" src="{{service.icon}}" alt="{{service.iconAlt}}">
        </div>
        <h4 class="home-services-item-title metropolis-semibold">{{service.title}} {% if service.titleItalic %}<span class="metropolis-semibolditalic">{{service.titleItalic}}</span>{% endif %}</h4>
        <p class="home-services-descr metropolis-regular">{{service.descOne}} <span class="metropolis-bold">{{service.descBold}}</span> {{service.descTwo}}</p>
        {% if service.shopifyLogo %}<img class="{{service.shopifyLogoClass}}" src="{{service.shopifyLogo}}">{% endif %}
      </div>
      {% endfor %}
    </div>
    <div class="home-services-mobile-carousel owl-carousel">
      {% for service in es.home.services.information %}
      <div class="home-services-item-container">
        <div class="home-services-icon-container">
          <img class="{{service.iconClass}}" src="{{service.icon}}" alt="{{service.iconAlt}}">
        </div>
        <h4 class="home-services-item-title metropolis-semibold">{{service.title}} {% if service.titleItalic %}<span class="metropolis-semibolditalic">{{service.titleItalic}}</span>{% endif %}</h4>
        <p class="home-services-descr metropolis-regular">{{service.descOne}} <span class="metropolis-bold">{{service.descBold}}</span> {{service.descTwo}}</p>
        {% if service.shopifyLogo %}<img class="{{service.shopifyLogoClass}}" src="{{service.shopifyLogo}}">{% endif %}
      </div>
      {% endfor %}
    </div>
    <h3 class="home-services-ourwork metropolis-bold">{{es.home.services.ourWork}}</h3>
  </section>

  <section class="home-bannerone">
    <span class="section-tag metropolis-regular">{{es.home.bannerone.tag}}<img src="{{es.home.bannerone.tagIcon}}" alt="{{es.home.bannerone.tagIconAlt}}"></span>
    <div class="home-bannerone-info">
      <h3 class="banner-title metropolis-bold">{{es.home.bannerone.title}}</h3>
      <p class="banner-desc metropolis-medium">{{es.home.bannerone.desc}}</p>
      <div class="home-bannerone-logo-container">
        <img class="{{es.home.bannerone.shopifyLogoClass}}" src="{{es.home.bannerone.shopifyLogo}}" alt="{{es.home.bannerone.shopifyLogoAlt}}">
      </div>
      <a class="btn transparent metropolis-bold" href="">{{es.home.bannerone.btn}}</a>
    </div>
    <div>
      <div class="home-bannerone-animation">
        <div class="home-bannerone-animation-bar">
          <div class="home-bannerone-animation-dot-container">
            <div class="home-bannerone-animation-dot"></div>
            <div class="home-bannerone-animation-dot"></div>
            <div class="home-bannerone-animation-dot"></div>
          </div>
        </div>
        <img class="home-bannerone-animation-img" src="{{es.home.bannerone.img}}" alt="{{es.home.bannerone.imgAlt}}">
      </div>
      <div class="home-bannerone-lowerinfo">
        <h6 class="banner-subtitle metropolis-bold">{{es.home.bannerone.project}}</h6>
        <div>
          <h6 class="banner-subtitle metropolis-bold">{{es.home.bannerone.type}}</h6>
          <span class="banner-desc metropolis-medium">{{es.home.bannerone.typeDesc}}</span>
        </div>
      </div>
    </div>
    <span class="vertical-text metropolis-bold">{{es.home.bannerone.verticalText}}</span>
  </section>

  <section class="home-bannertwo">
    <span class="section-tag metropolis-regular">{{es.home.bannertwo.tag}}<img src="{{es.home.bannertwo.tagIcon}}" alt="{{es.home.bannertwo.tagIconAlt}}"></span>
    <div class="home-bannertwo-img"></div>
    <div class="home-bannertwo-devices">
      <div class="home-bannertwo-devices-container">
        <img class="home-bannertwo-devices-img" src="/img/utils/nomad-elefante.png">
      </div>
      <div class="home-bannertwo-devices-container">
        <img class="home-bannertwo-devices-img" src="/img/utils/nomad-selva.png">
      </div>
    </div>
    <div class="home-bannertwo-content">
      <div class="home-bannertwo-info">
        <h3 class="banner-title metropolis-bold">{{es.home.bannertwo.title}}</h3>
        <p class="banner-desc metropolis-medium">{{es.home.bannertwo.desc}}</p>
        <img class="{{es.home.bannerone.shopifyLogoClass}}" src="{{es.home.bannertwo.shopifyLogo}}" alt="{{es.home.bannerone.shopifyLogoAlt}}">
        <div class="home-bannertwo-lowerinfo">
          <h6 class="banner-subtitle metropolis-bold">{{es.home.bannertwo.subtitle}}</h6>
          <span class="banner-desc metropolis-medium">{{es.home.bannertwo.subDesc}}</span>
          <a class="btn metropolis-bold" href="">{{es.home.bannerone.btn}}</a>
        </div>
      </div>
    </div>
    <span class="vertical-text metropolis-bold">{{es.home.bannertwo.verticalText}}</span>
  </section>

  <section class="home-bannerthree">
    <div class="home-bannerthree-content">
      <h3 class="banner-title metropolis-bold">{{es.home.bannerthree.title}}</h3>
      <p class="banner-desc metropolis-medium">{{es.home.bannerthree.desc}}</p>
      <a class="btn metropolis-bold" href="">{{es.home.bannerthree.btn}}</a>
      <div class="home-bannerthree-lowerinfo">
        <h6 class="banner-subtitle metropolis-bold">{{es.home.bannerthree.subtitle}}</h6>
        <span class="banner-desc metropolis-medium">{{es.home.bannerthree.subDesc}}</span>
        <img class="{{es.home.bannerthree.shopifyLogoClass}}" src="{{es.home.bannerthree.shopifyLogo}}" alt="{{es.home.bannerthree.shopifyLogoAlt}}">
      </div>
    </div>
    <div class="home-bannerthree-background">
      <div class="home-bannerthree-tablet-container">
        <img class="home-bannerthree-tablet" src="{{es.home.bannerthree.img}}" alt="{{es.home.bannerthree.imgAlt}}">
      </div>
    </div>
    <span class="section-tag metropolis-regular">{{es.home.bannerthree.tag}}<img src="{{es.home.bannerthree.tagIcon}}" alt="{{es.home.bannerthree.tagIconAlt}}"></span>
  </section>

  <section class="home-start">
    <div class="home-start-content">
      <h3 class="home-start-title metropolis-bold">{{es.home.start.title}}</h3>
      <div class="home-start-btns">
        <a class="btn borderBlack metropolis-bold" href="">{{es.home.start.btnLeft}}</a>
        <a class="btn metropolis-bold" href="">{{es.home.start.btnRight}}</a>
      </div>
    </div>
  </section>
</section>
{% endblock %}
