{% extends "partials/base.njk" %}

{% block title %}This{% endblock %}

{% set meta_description = "" %}
{% set og_url = "" %}
{% set og_title = "" %}
{% set og_description = "" %}
{% set og_img = "" %}
{% set og_img_width = "" %}
{% set og_img_height = "" %}

{% set view_name = "ourwork" %}

{% block content %}
<section class="ourwork">
  <section class="ourwork-header">
    <h1 class="ourwork-title metropolis-bold">{{es.portfolio.title}}</h1>
  </section>

  <section class="ourwork-tab-container">
    <ul class="metropolis-semibold">
      {% for tab in es.portfolio.tabs %}
      <li class="ourwork-tab"><a class="ourwork-tab-link {% if tab.activeClass %}{{tab.activeClass}}{% endif %}" href="{{tab.function}}" id="{{tab.id}}">{{tab.title}}</a></li>
      {% endfor %}
    </ul>
  </section>
  <section id="results1">

    <div id="portfolioTabContent1" class="ourwork-tab-content">
      <div class="ourwork-project blogBox moreBox">
        <img class="ourwork-project-img" data-src="/img/ourwork/dream-water.jpg">
        <h3 class="ourwork-project-title metropolis-bold">VRE México</h3>
      </div>
      <div class="ourwork-project blogBox moreBox">
        <img class="ourwork-project-img" data-src="/img/ourwork/vre.jpg">
        <h3 class="ourwork-project-title metropolis-bold">DREAM WATER</h3>
      </div>
      <div class="ourwork-project blogBox moreBox">
        <img class="ourwork-project-img" data-src="/img/ourwork/nomad-republic.jpg">
        <h3 class="ourwork-project-title metropolis-bold">ICAN</h3>
      </div>
      <div class="ourwork-project blogBox moreBox">
        <img class="ourwork-project-img" data-src="/img/ourwork/higia.jpg">
        <h3 class="ourwork-project-title metropolis-bold">POS PROYECTO 1</h3>
      </div>
      <div class="ourwork-project blogBox moreBox">
        <img class="ourwork-project-img" data-src="/img/ourwork/yazbek.jpg">
        <h3 class="ourwork-project-title metropolis-bold">POS PROYECTO 2</h3>
      </div>
      <div class="ourwork-project blogBox moreBox">
        <img class="ourwork-project-img" data-src="/img/ourwork/neulift.jpg">
        <h3 class="ourwork-project-title metropolis-bold">POS PROYECTO 3</h3>
      </div>
      <div class="ourwork-project blogBox moreBox">
        <img class="ourwork-project-img" data-src="/img/ourwork/akai-swimwear.jpg">
        <h3 class="ourwork-project-title metropolis-bold">ALIANZA SWEMEX</h3>
      </div>
      <div class="ourwork-project blogBox moreBox">
        <img class="ourwork-project-img" data-src="/img/ourwork/schutique.jpg">
        <h3 class="ourwork-project-title metropolis-bold">RANChO LAS FLORES</h3>
      </div>
      <div class="ourwork-project blogBox moreBox">
        <img class="ourwork-project-img" data-src="/img/ourwork/alianza-swemex.jpg">
        <h3 class="ourwork-project-title metropolis-bold">NOMAD REPUBLIC</h3>
      </div>
      <div class="ourwork-project blogBox moreBox">
        <img class="ourwork-project-img" data-src="/img/ourwork/aromaria.jpg">
        <h3 class="ourwork-project-title metropolis-bold">NOMAD REPUBLIC</h3>
      </div>

      <div class="ourwork-project blogBox moreBox">
        <img class="ourwork-project-img" data-src="/img/ourwork/dream-water-2.jpg">
        <h3 class="ourwork-project-title metropolis-bold">VRE México</h3>
      </div>
      <div class="ourwork-project blogBox moreBox">
        <img class="ourwork-project-img" data-src="/img/ourwork/vre-2.jpg">
        <h3 class="ourwork-project-title metropolis-bold">DREAM WATER</h3>
      </div>
      <div class="ourwork-project blogBox moreBox">
        <img class="ourwork-project-img" data-src="/img/ourwork/nomad-republic-2.jpg">
        <h3 class="ourwork-project-title metropolis-bold">ICAN</h3>
      </div>
      <div class="ourwork-project blogBox moreBox">
        <img class="ourwork-project-img" data-src="/img/ourwork/higia-2.jpg">
        <h3 class="ourwork-project-title metropolis-bold">POS PROYECTO 1</h3>
      </div>
      <div class="ourwork-project blogBox moreBox">
        <img class="ourwork-project-img" data-src="/img/ourwork/yazbek-2.jpg">
        <h3 class="ourwork-project-title metropolis-bold">POS PROYECTO 2</h3>
      </div>
      <div class="ourwork-project blogBox moreBox">
        <img class="ourwork-project-img" data-src="/img/ourwork/neulift-2.jpg">
        <h3 class="ourwork-project-title metropolis-bold">POS PROYECTO 3</h3>
      </div>
      <div class="ourwork-project blogBox moreBox">
        <img class="ourwork-project-img" data-src="/img/ourwork/akai-swimwear-2.jpg">
        <h3 class="ourwork-project-title metropolis-bold">ALIANZA SWEMEX</h3>
      </div>
      <div class="ourwork-project blogBox moreBox">
        <img class="ourwork-project-img" data-src="/img/ourwork/schutique-2.jpg">
        <h3 class="ourwork-project-title metropolis-bold">RANChO LAS FLORES</h3>
      </div>
      <div class="ourwork-project blogBox moreBox">
        <img class="ourwork-project-img" data-src="/img/ourwork/alianza-swemex-2.jpg">
        <h3 class="ourwork-project-title metropolis-bold">NOMAD REPUBLIC</h3>
      </div>
      <div class="ourwork-project blogBox moreBox">
        <img class="ourwork-project-img" data-src="/img/ourwork/aromaria-2.jpg">
        <h3 class="ourwork-project-title metropolis-bold">NOMAD REPUBLIC</h3>
      </div>

      <div class="ourwork-project blogBox moreBox">
        <img class="ourwork-project-img" data-src="/img/ourwork/dream-water-3.jpg">
        <h3 class="ourwork-project-title metropolis-bold">VRE México</h3>
      </div>
      <div class="ourwork-project blogBox moreBox">
        <img class="ourwork-project-img" data-src="/img/ourwork/vre-3.jpg">
        <h3 class="ourwork-project-title metropolis-bold">DREAM WATER</h3>
      </div>
      <div class="ourwork-project blogBox moreBox">
        <img class="ourwork-project-img" data-src="/img/ourwork/nomad-republic-3.jpg">
        <h3 class="ourwork-project-title metropolis-bold">ICAN</h3>
      </div>
      <div class="ourwork-project blogBox moreBox">
        <img class="ourwork-project-img" data-src="/img/ourwork/higia-3.jpg">
        <h3 class="ourwork-project-title metropolis-bold">POS PROYECTO 1</h3>
      </div>
      <div class="ourwork-project blogBox moreBox">
        <img class="ourwork-project-img" data-src="/img/ourwork/yazbek-3.jpg">
        <h3 class="ourwork-project-title metropolis-bold">POS PROYECTO 2</h3>
      </div>
      <div class="ourwork-project blogBox moreBox">
        <img class="ourwork-project-img" data-src="/img/ourwork/neulift-3.jpg">
        <h3 class="ourwork-project-title metropolis-bold">POS PROYECTO 3</h3>
      </div>
      <div class="ourwork-project blogBox moreBox">
        <img class="ourwork-project-img" data-src="/img/ourwork/akai-swimwear-3.jpg">
        <h3 class="ourwork-project-title metropolis-bold">ALIANZA SWEMEX</h3>
      </div>
      <div class="ourwork-project blogBox moreBox">
        <img class="ourwork-project-img" data-src="/img/ourwork/schutique-3.jpg">
        <h3 class="ourwork-project-title metropolis-bold">RANChO LAS FLORES</h3>
      </div>
      <div class="ourwork-project blogBox moreBox">
        <img class="ourwork-project-img" data-src="/img/ourwork/alianza-swemex-3.jpg">
        <h3 class="ourwork-project-title metropolis-bold">NOMAD REPUBLIC</h3>
      </div>
      <div class="ourwork-project blogBox moreBox">
        <img class="ourwork-project-img" data-src="/img/ourwork/aromaria-3.jpg">
        <h3 class="ourwork-project-title metropolis-bold">NOMAD REPUBLIC</h3>
      </div>

      <div class="ourwork-project blogBox moreBox">
        <img class="ourwork-project-img" data-src="/img/ourwork/dream-water-4.jpg">
        <h3 class="ourwork-project-title metropolis-bold">VRE México</h3>
      </div>
      <div class="ourwork-project blogBox moreBox">
        <img class="ourwork-project-img" data-src="/img/ourwork/vre-4.jpg">
        <h3 class="ourwork-project-title metropolis-bold">DREAM WATER</h3>
      </div>
      <div class="ourwork-project blogBox moreBox">
        <img class="ourwork-project-img" data-src="/img/ourwork/nomad-republic-4.jpg">
        <h3 class="ourwork-project-title metropolis-bold">ICAN</h3>
      </div>
      <div class="ourwork-project blogBox moreBox">
        <img class="ourwork-project-img" data-src="/img/ourwork/higia-4.jpg">
        <h3 class="ourwork-project-title metropolis-bold">POS PROYECTO 1</h3>
      </div>
      <div class="ourwork-project blogBox moreBox">
        <img class="ourwork-project-img" data-src="/img/ourwork/yazbek-4.jpg">
        <h3 class="ourwork-project-title metropolis-bold">POS PROYECTO 2</h3>
      </div>
      <div class="ourwork-project blogBox moreBox">
        <img class="ourwork-project-img" data-src="/img/ourwork/neulift-4.jpg">
        <h3 class="ourwork-project-title metropolis-bold">POS PROYECTO 3</h3>
      </div>
      <div class="ourwork-project blogBox moreBox">
        <img class="ourwork-project-img" data-src="/img/ourwork/akai-swimwear-4.jpg">
        <h3 class="ourwork-project-title metropolis-bold">ALIANZA SWEMEX</h3>
      </div>
      <div class="ourwork-project blogBox moreBox">
        <img class="ourwork-project-img" data-src="/img/ourwork/schutique-4.jpg">
        <h3 class="ourwork-project-title metropolis-bold">RANChO LAS FLORES</h3>
      </div>
      <div class="ourwork-project blogBox moreBox">
        <img class="ourwork-project-img" data-src="/img/ourwork/alianza-swemex-4.jpg">
        <h3 class="ourwork-project-title metropolis-bold">NOMAD REPUBLIC</h3>
      </div>
      <div class="ourwork-project blogBox moreBox">
        <img class="ourwork-project-img" data-src="/img/ourwork/aromaria-4.jpg">
        <h3 class="ourwork-project-title metropolis-bold">NOMAD REPUBLIC</h3>
      </div>

      <div class="ourwork-project blogBox moreBox">
        <img class="ourwork-project-img" data-src="/img/ourwork/dream-water-5.jpg">
        <h3 class="ourwork-project-title metropolis-bold">VRE México</h3>
      </div>
      <div class="ourwork-project blogBox moreBox">
        <img class="ourwork-project-img" data-src="/img/ourwork/vre-5.jpg">
        <h3 class="ourwork-project-title metropolis-bold">DREAM WATER</h3>
      </div>
      <div class="ourwork-project blogBox moreBox">
        <img class="ourwork-project-img" data-src="/img/ourwork/nomad-republic-5.jpg">
        <h3 class="ourwork-project-title metropolis-bold">ICAN</h3>
      </div>
      <div class="ourwork-project blogBox moreBox">
        <img class="ourwork-project-img" data-src="/img/ourwork/higia-5.jpg">
        <h3 class="ourwork-project-title metropolis-bold">POS PROYECTO 1</h3>
      </div>
      <div class="ourwork-project blogBox moreBox">
        <img class="ourwork-project-img" data-src="/img/ourwork/yazbek-5.jpg">
        <h3 class="ourwork-project-title metropolis-bold">POS PROYECTO 2</h3>
      </div>
      <div class="ourwork-project blogBox moreBox">
        <img class="ourwork-project-img" data-src="/img/ourwork/neulift-5.jpg">
        <h3 class="ourwork-project-title metropolis-bold">POS PROYECTO 3</h3>
      </div>
      <div class="ourwork-project blogBox moreBox">
        <img class="ourwork-project-img" data-src="/img/ourwork/akai-swimwear-5.jpg">
        <h3 class="ourwork-project-title metropolis-bold">ALIANZA SWEMEX</h3>
      </div>
      <div class="ourwork-project blogBox moreBox">
        <img class="ourwork-project-img" data-src="/img/ourwork/schutique-5.jpg">
        <h3 class="ourwork-project-title metropolis-bold">RANChO LAS FLORES</h3>
      </div>
      <div class="ourwork-project blogBox moreBox">
        <img class="ourwork-project-img" data-src="/img/ourwork/alianza-swemex-5.jpg">
        <h3 class="ourwork-project-title metropolis-bold">NOMAD REPUBLIC</h3>
      </div>
      <div class="ourwork-project blogBox moreBox">
        <img class="ourwork-project-img" data-src="/img/ourwork/aromaria-5.jpg">
        <h3 class="ourwork-project-title metropolis-bold">NOMAD REPUBLIC</h3>
      </div>

      <div id="loadMore" style="">
        <a href="#">Load More</a>
      </div>
    </div> 

    <div id="portfolioTabContent2" class="ourwork-tab-content">
      <div class="ourwork-project page-box more-page-box">
        <img class="ourwork-project-img" data-src="/img/ourwork/dream-water-red.jpg">
        <h3 class="ourwork-project-title metropolis-bold">VRE México</h3>
      </div>
      <div class="ourwork-project page-box more-page-box">
        <img class="ourwork-project-img" data-src="/img/ourwork/vre-red.jpg">
        <h3 class="ourwork-project-title metropolis-bold">DREAM WATER</h3>
      </div>
      <div class="ourwork-project page-box more-page-box">
        <img class="ourwork-project-img" data-src="/img/ourwork/nomad-republic-red.jpg">
        <h3 class="ourwork-project-title metropolis-bold">ICAN</h3>
      </div>
      <div class="ourwork-project page-box more-page-box">
        <img class="ourwork-project-img" data-src="/img/ourwork/higia-red.jpg">
        <h3 class="ourwork-project-title metropolis-bold">POS PROYECTO 1</h3>
      </div>
      <div class="ourwork-project page-box more-page-box">
        <img class="ourwork-project-img" data-src="/img/ourwork/yazbek-red.jpg">
        <h3 class="ourwork-project-title metropolis-bold">POS PROYECTO 2</h3>
      </div>
      <div class="ourwork-project page-box more-page-box">
        <img class="ourwork-project-img" data-src="/img/ourwork/neulift-red.jpg">
        <h3 class="ourwork-project-title metropolis-bold">POS PROYECTO 3</h3>
      </div>
      <div class="ourwork-project page-box more-page-box">
        <img class="ourwork-project-img" data-src="/img/ourwork/akai-swimwear-red.jpg">
        <h3 class="ourwork-project-title metropolis-bold">ALIANZA SWEMEX</h3>
      </div>
      <div class="ourwork-project page-box more-page-box">
        <img class="ourwork-project-img" data-src="/img/ourwork/schutique-red.jpg">
        <h3 class="ourwork-project-title metropolis-bold">RANChO LAS FLORES</h3>
      </div>
      <div class="ourwork-project page-box more-page-box">
        <img class="ourwork-project-img" data-src="/img/ourwork/alianza-swemex-red.jpg">
        <h3 class="ourwork-project-title metropolis-bold">NOMAD REPUBLIC</h3>
      </div>
      <div class="ourwork-project page-box more-page-box">
        <img class="ourwork-project-img" data-src="/img/ourwork/aromaria-red.jpg">
        <h3 class="ourwork-project-title metropolis-bold">NOMAD REPUBLIC</h3>
      </div>

      <div class="ourwork-project page-box more-page-box">
        <img class="ourwork-project-img" data-src="/img/ourwork/dream-water-red-2.jpg">
        <h3 class="ourwork-project-title metropolis-bold">VRE México</h3>
      </div>
      <div class="ourwork-project page-box more-page-box">
        <img class="ourwork-project-img" data-src="/img/ourwork/vre-red-2.jpg">
        <h3 class="ourwork-project-title metropolis-bold">DREAM WATER</h3>
      </div>
      <div class="ourwork-project page-box more-page-box">
        <img class="ourwork-project-img" data-src="/img/ourwork/nomad-republic-red-2.jpg">
        <h3 class="ourwork-project-title metropolis-bold">ICAN</h3>
      </div>
      <div class="ourwork-project page-box more-page-box">
        <img class="ourwork-project-img" data-src="/img/ourwork/higia-red-2.jpg">
        <h3 class="ourwork-project-title metropolis-bold">POS PROYECTO 1</h3>
      </div>
      <div class="ourwork-project page-box more-page-box">
        <img class="ourwork-project-img" data-src="/img/ourwork/yazbek-red-2.jpg">
        <h3 class="ourwork-project-title metropolis-bold">POS PROYECTO 2</h3>
      </div>
      <div class="ourwork-project page-box more-page-box">
        <img class="ourwork-project-img" data-src="/img/ourwork/neulift-red-2.jpg">
        <h3 class="ourwork-project-title metropolis-bold">POS PROYECTO 3</h3>
      </div>
      <div class="ourwork-project page-box more-page-box">
        <img class="ourwork-project-img" data-src="/img/ourwork/akai-swimwear-red-2.jpg">
        <h3 class="ourwork-project-title metropolis-bold">ALIANZA SWEMEX</h3>
      </div>
      <div class="ourwork-project page-box more-page-box">
        <img class="ourwork-project-img" data-src="/img/ourwork/schutique-red-2.jpg">
        <h3 class="ourwork-project-title metropolis-bold">RANChO LAS FLORES</h3>
      </div>
      <div class="ourwork-project page-box more-page-box">
        <img class="ourwork-project-img" data-src="/img/ourwork/alianza-swemex-red-2.jpg">
        <h3 class="ourwork-project-title metropolis-bold">NOMAD REPUBLIC</h3>
      </div>
      <div class="ourwork-project page-box more-page-box">
        <img class="ourwork-project-img" data-src="/img/ourwork/aromaria-red-2.jpg">
        <h3 class="ourwork-project-title metropolis-bold">NOMAD REPUBLIC</h3>
      </div>

      <div class="ourwork-project page-box more-page-box">
        <img class="ourwork-project-img" data-src="/img/ourwork/dream-water-red-3.jpg">
        <h3 class="ourwork-project-title metropolis-bold">VRE México</h3>
      </div>
      <div class="ourwork-project page-box more-page-box">
        <img class="ourwork-project-img" data-src="/img/ourwork/vre-red-3.jpg">
        <h3 class="ourwork-project-title metropolis-bold">DREAM WATER</h3>
      </div>
      <div class="ourwork-project page-box more-page-box">
        <img class="ourwork-project-img" data-src="/img/ourwork/nomad-republic-red-3.jpg">
        <h3 class="ourwork-project-title metropolis-bold">ICAN</h3>
      </div>
      <div class="ourwork-project page-box more-page-box">
        <img class="ourwork-project-img" data-src="/img/ourwork/higia-red-3.jpg">
        <h3 class="ourwork-project-title metropolis-bold">POS PROYECTO 1</h3>
      </div>
      <div class="ourwork-project page-box more-page-box">
        <img class="ourwork-project-img" data-src="/img/ourwork/yazbek-red-3.jpg">
        <h3 class="ourwork-project-title metropolis-bold">POS PROYECTO 2</h3>
      </div>
      <div class="ourwork-project page-box more-page-box">
        <img class="ourwork-project-img" data-src="/img/ourwork/neulift-red-3.jpg">
        <h3 class="ourwork-project-title metropolis-bold">POS PROYECTO 3</h3>
      </div>
      <div class="ourwork-project page-box more-page-box">
        <img class="ourwork-project-img" data-src="/img/ourwork/akai-swimwear-red-3.jpg">
        <h3 class="ourwork-project-title metropolis-bold">ALIANZA SWEMEX</h3>
      </div>
      <div class="ourwork-project page-box more-page-box">
        <img class="ourwork-project-img" data-src="/img/ourwork/schutique-red-3.jpg">
        <h3 class="ourwork-project-title metropolis-bold">RANChO LAS FLORES</h3>
      </div>
      <div class="ourwork-project page-box more-page-box">
        <img class="ourwork-project-img" data-src="/img/ourwork/alianza-swemex-red-3.jpg">
        <h3 class="ourwork-project-title metropolis-bold">NOMAD REPUBLIC</h3>
      </div>
      <div class="ourwork-project page-box more-page-box">
        <img class="ourwork-project-img" data-src="/img/ourwork/aromaria-red-3.jpg">
        <h3 class="ourwork-project-title metropolis-bold">NOMAD REPUBLIC</h3>
      </div>

      <div class="ourwork-project page-box more-page-box">
        <img class="ourwork-project-img" data-src="/img/ourwork/dream-water-red-4.jpg">
        <h3 class="ourwork-project-title metropolis-bold">VRE México</h3>
      </div>
      <div class="ourwork-project page-box more-page-box">
        <img class="ourwork-project-img" data-src="/img/ourwork/vre-red-4.jpg">
        <h3 class="ourwork-project-title metropolis-bold">DREAM WATER</h3>
      </div>
      <div class="ourwork-project page-box more-page-box">
        <img class="ourwork-project-img" data-src="/img/ourwork/nomad-republic-red-4.jpg">
        <h3 class="ourwork-project-title metropolis-bold">ICAN</h3>
      </div>
      <div class="ourwork-project page-box more-page-box">
        <img class="ourwork-project-img" data-src="/img/ourwork/higia-red-4.jpg">
        <h3 class="ourwork-project-title metropolis-bold">POS PROYECTO 1</h3>
      </div>
      <div class="ourwork-project page-box more-page-box">
        <img class="ourwork-project-img" data-src="/img/ourwork/yazbek-red-4.jpg">
        <h3 class="ourwork-project-title metropolis-bold">POS PROYECTO 2</h3>
      </div>
      <div class="ourwork-project page-box more-page-box">
        <img class="ourwork-project-img" data-src="/img/ourwork/neulift-red-4.jpg">
        <h3 class="ourwork-project-title metropolis-bold">POS PROYECTO 3</h3>
      </div>
      <div class="ourwork-project page-box more-page-box">
        <img class="ourwork-project-img" data-src="/img/ourwork/akai-swimwear-red-4.jpg">
        <h3 class="ourwork-project-title metropolis-bold">ALIANZA SWEMEX</h3>
      </div>
      <div class="ourwork-project page-box more-page-box">
        <img class="ourwork-project-img" data-src="/img/ourwork/schutique-red-4.jpg">
        <h3 class="ourwork-project-title metropolis-bold">RANChO LAS FLORES</h3>
      </div>
      <div class="ourwork-project page-box more-page-box">
        <img class="ourwork-project-img" data-src="/img/ourwork/alianza-swemex-red-4.jpg">
        <h3 class="ourwork-project-title metropolis-bold">NOMAD REPUBLIC</h3>
      </div>
      <div class="ourwork-project page-box more-page-box">
        <img class="ourwork-project-img" data-src="/img/ourwork/aromaria-red-4.jpg">
        <h3 class="ourwork-project-title metropolis-bold">NOMAD REPUBLIC</h3>
      </div>

      <div class="ourwork-project page-box more-page-box">
        <img class="ourwork-project-img" data-src="/img/ourwork/dream-water-red-5.jpg">
        <h3 class="ourwork-project-title metropolis-bold">VRE México</h3>
      </div>
      <div class="ourwork-project page-box more-page-box">
        <img class="ourwork-project-img" data-src="/img/ourwork/vre-red-5.jpg">
        <h3 class="ourwork-project-title metropolis-bold">DREAM WATER</h3>
      </div>
      <div class="ourwork-project page-box more-page-box">
        <img class="ourwork-project-img" data-src="/img/ourwork/nomad-republic-red-5.jpg">
        <h3 class="ourwork-project-title metropolis-bold">ICAN</h3>
      </div>
      <div class="ourwork-project page-box more-page-box">
        <img class="ourwork-project-img" data-src="/img/ourwork/higia-red-5.jpg">
        <h3 class="ourwork-project-title metropolis-bold">POS PROYECTO 1</h3>
      </div>
      <div class="ourwork-project page-box more-page-box">
        <img class="ourwork-project-img" data-src="/img/ourwork/yazbek-red-5.jpg">
        <h3 class="ourwork-project-title metropolis-bold">POS PROYECTO 2</h3>
      </div>
      <div class="ourwork-project page-box more-page-box">
        <img class="ourwork-project-img" data-src="/img/ourwork/neulift-red-5.jpg">
        <h3 class="ourwork-project-title metropolis-bold">POS PROYECTO 3</h3>
      </div>
      <div class="ourwork-project page-box more-page-box">
        <img class="ourwork-project-img" data-src="/img/ourwork/akai-swimwear-red-5.jpg">
        <h3 class="ourwork-project-title metropolis-bold">ALIANZA SWEMEX</h3>
      </div>
      <div class="ourwork-project page-box more-page-box">
        <img class="ourwork-project-img" data-src="/img/ourwork/schutique-red-5.jpg">
        <h3 class="ourwork-project-title metropolis-bold">RANChO LAS FLORES</h3>
      </div>
      <div class="ourwork-project page-box more-page-box">
        <img class="ourwork-project-img" data-src="/img/ourwork/alianza-swemex-red-5.jpg">
        <h3 class="ourwork-project-title metropolis-bold">NOMAD REPUBLIC</h3>
      </div>
      <div class="ourwork-project page-box more-page-box">
        <img class="ourwork-project-img" data-src="/img/ourwork/aromaria-red-5.jpg">
        <h3 class="ourwork-project-title metropolis-bold">NOMAD REPUBLIC</h3>
      </div>
      <div id="load-page" style="">
        <a href="#">Load More</a>
      </div>
    </div>
    <div id="portfolioTabContent3" class="ourwork-tab-content" style="display: none;"> 
      Content of the third tab.
    </div> 
    <div id="portfolioTabContent4" class="ourwork-tab-content" style="display:none;">
      Content of the fourth tab.
    </div>
  </section>
</section>

{% endblock %}
