{% extends "partials/base.njk" %}

{% block title %}Ejemplos de diseño y desarrollo web{% endblock %}

{% set meta_description = "Observa cómo hemos ayudado a pequeñas y grandes empresas a tener presencia digital y aumentar sus ventas en línea." %}
{% set og_url = "https://getmore.mx/es/portafolio.html" %}
{% set og_title = "Ejemplos de diseño y desarrollo web | Get More" %}
{% set og_description = "Observa cómo hemos ayudado a pequeñas y grandes empresas a tener presencia digital y aumentar sus ventas en línea." %}
{% set og_img = "/img/seo/portafolio-seo.jpg" %}
{% set og_img_width = "728" %}
{% set og_img_height = "435" %}

{% set view_name = "ourwork" %}
{% set lang_view = "spanish" %}

{% block content %}
<section class="ourwork">
  <section class="ourwork-header">
    <h1 class="ourwork-title metropolis-bold">{{es.portfolio.title}}</h1>
  </section>

  <section class="ourwork-tab-container">
    <ul class="metropolis-semibold ourwork-tab-carousel owl-carousel">
      {% for tab in es.portfolio.tabs %}
      <li class="ourwork-tab"><a class="ourwork-tab-link {% if tab.activeClass %}{{tab.activeClass}}{% endif %}" href="{{tab.function}}" id="{{tab.id}}"><h2>{{tab.title}}</h2></a></li>
      {% endfor %}
    </ul>
  </section>
  <section id="results1">

    <div id="portfolioTabContent1" class="ourwork-tab-content">
      {% for project in es.portfolio.projects %}
      {% if project.tagAll == true %}
      <div class="ourwork-project itemAll moreAll" data-tags="{{project.tags}}">
        <img class="ourwork-project-img" data-src="{{project.img}}" alt="{{project.imgAlt}}">
        <h3 class="ourwork-project-title metropolis-bold">{{project.title}}</h3>
        <a href="{{project.hoverIconLink}}">
          <div class="ourwork-project-layer {{project.layerClass}}" onClick="return true">
            <img class="{{project.layerLogoClass}}" src="{{project.layerLogo}}" alt="{{project.layerLogoAlt}}">
            <img class="ourwork-project-icon" src="{{es.portfolio.hoverIcon}}" alt="{{es.portfolio.hoverIcon}}">
          </div>
        </a>
      </div>
      {% endif %}
      {% endfor %}
      <div class="ourwork-project-btn-container" id="load-all">
        <a class="btn borderBlack metropolis-bold" href="">{{es.portfolio.btn}}</a>
      </div>
    </div> 

    <div id="portfolioTabContent2" class="ourwork-tab-content">
      {% for project in es.portfolio.projects %}
      {% if project.tagOnlineStore == true %}
      <div class="ourwork-project itemOnlineStore moreOnlineStore" data-tags="{{project.tags}}">
        <img class="ourwork-project-img" data-src="{{project.img}}" alt="{{project.imgAlt}}">
        <h3 class="ourwork-project-title metropolis-bold">{{project.title}}</h3>
        <a href="{{project.hoverIconLink}}">
          <div class="ourwork-project-layer {{project.layerClass}}" onClick="return true">
            <img class="{{project.layerLogoClass}}" src="{{project.layerLogo}}" alt="{{project.layerLogoAlt}}">
            <img class="ourwork-project-icon" src="{{es.portfolio.hoverIcon}}" alt="{{es.portfolio.hoverIcon}}">
          </div>
        </a>
      </div>
      {% endif %}
      {% endfor %}
      <div class="ourwork-project-btn-container" id="load-online-store">
        <a class="btn borderBlack metropolis-bold" href="">{{es.portfolio.btn}}</a>
      </div>
    </div>

    <div id="portfolioTabContent3" class="ourwork-tab-content"> 
      {% for project in es.portfolio.projects %}
      {% if project.tagWebPage == true %}
      <div class="ourwork-project itemWebPages moreWebPages" data-tags="{{project.tags}}">
        <img class="ourwork-project-img" data-src="{{project.img}}" alt="{{project.imgAlt}}">
        <h3 class="ourwork-project-title metropolis-bold">{{project.title}}</h3>
        <a href="{{project.hoverIconLink}}">
          <div class="ourwork-project-layer {{project.layerClass}}" onClick="return true">
            <img class="{{project.layerLogoClass}}" src="{{project.layerLogo}}" alt="{{project.layerLogoAlt}}">
            <img class="ourwork-project-icon" src="{{es.portfolio.hoverIcon}}" alt="{{es.portfolio.hoverIcon}}">
          </div>
        </a>
      </div>
      {% endif %}
      {% endfor %}
      <div class="ourwork-project-btn-container" id="load-web-pages">
        <a class="btn borderBlack metropolis-bold" href="">{{es.portfolio.btn}}</a>
      </div>
    </div>

    <div id="portfolioTabContent4" class="ourwork-tab-content">
      {% for project in es.portfolio.projects %}
      {% if project.tagPOS == true %}
      <div class="ourwork-project itemPOS morePOS" data-tags="{{project.tags}}">
        <img class="ourwork-project-img" data-src="{{project.img}}" alt="{{project.imgAlt}}">
        <h3 class="ourwork-project-title metropolis-bold">{{project.title}}</h3>
        <a href="{{project.hoverIconLink}}">
          <div class="ourwork-project-layer {{project.layerClass}}" onClick="return true">
            <img class="{{project.layerLogoClass}}" src="{{project.layerLogo}}" alt="{{project.layerLogoAlt}}">
            <img class="ourwork-project-icon" src="{{es.portfolio.hoverIcon}}" alt="{{es.portfolio.hoverIcon}}">
          </div>
        </a>
      </div>
      {% endif %}
      {% endfor %}
    </div>
  </section>
</section>

{% endblock %}
