{% extends "partials/base.njk" %}

{% block title %}This{% endblock %}

{% set meta_description = "" %}
{% set og_url = "" %}
{% set og_title = "" %}
{% set og_description = "" %}
{% set og_img = "" %}
{% set og_img_width = "" %}
{% set og_img_height = "" %}

{% set view_name = "templatea" %}

{% block content %}
<section class="templatea dreamwater">
  <section class="cover">
    <a class="return metropolis-semibold" href=""><img class="semi-triangle" src="/img/icons/semi-triangulo.svg">regresar</a>
    <div class="templatea-content">
      <img class="templatea-logo" src="/img/logos/logo-dream-water.png">
      <h1 class="templatea-title metropolis-bold">DREAM WATER <span class="metropolis-medium">| TIENDA EN LÍNEA</span></h1>
      <p class="templatea-paragraph metropolis-medium">Dream Water es un producto que te tomas antes de dormir y te ayuda a tener el sueño más profundo. Natural, para viajar y sin ningún efecto secundario.</p>
      <img class="templatea-scroll-indicator" src="/img/icons/scroll-indicator-white.png">
    </div>
  </section>

  <section class="templatea-project">
    <span class="vertical-text metropolis-bold">tienda en línea</span>
    <h3 class="templatea-project-bigtext metropolis-bold">proyecto</h3>
    <div class="templatea-project-content">
      <h2 class="templatea-project-subtitle">Datos importantes del proyecto</h2>
      <p class="templatea-project-desc metropolis-light"><span class="metropolis-bold">Año</span> 2016<br><span class="metropolis-bold">Funcionalidades</span> Compras recurrentes Selección de variantes / Chat en línea Integración con Mailchimp / Testimoniales Diseño web y móvil / Pasarelas de pago Envíos personalizados / Productos similares<br><span class="metropolis-bold">Ubicación</span> Florida, Estados Unidos.</p>
    </div>
    <img class="templatea-project-img" src="/img/projects/dreamwater-laptop.png">
  </section>

  <section class="templatea-functionalities">
    <h3 class="templatea-functionalities-bigtext metropolis-bold">funcionalidades</h3>
    <div class="templatea-functionalities-content">
      <img class="templatea-functionalities-img" src="/img/projects/dreamwater-window.jpg">
      <div class="templatea-circle-container">
        <div class="templatea-circle">
          <span class="templatea-circle-text metropolis-semibold">ui</span>
        </div>
        <div class="templatea-circle">
          <span class="templatea-circle-text metropolis-semibold">ux</span>
        </div>
        <div class="templatea-circle">
          <span class="templatea-circle-text metropolis-semibold">dev</span>
        </div>
      </div>
    </div>
    <span class="vertical-text metropolis-bold">fácil de manejar</span>
  </section>

  <section class="templatea-getmore">
    <h3 class="templatea-getmore-bigtext metropolis-bold">getmore</h3>
    <div class="templatea-getmore-content">
      <div class="templatea-getmore-info">
        <div class="templatea-circle">
          <img class="templatea-circle-icon" src="/img/icons/icon-responsive-design.svg">
        </div>
        <h6 class="templatea-getmore-title metropolis-semibold">Diseño responsivo</h6>
        <p class="templatea-getmore-desc metropolis-medium">Nos preocupamos por llevar la experiencia de usuario a otro nivel</p>
        <a class="btn metropolis-bold" href="">VER PROYECTO</a>
      </div>
      <div class="templatea-getmore-img-container">
        <img class="templatea-getmore-img" src="/img/projects/dreamwater-cama.jpg">
        <img class="templatea-getmore-smartphone" src="/img/projects/dreamwater-celular.png">
      </div>
    </div>
  </section>
</section>
{% endblock %}
