@font-face
  font-family 'Metropolis'
  src url('../fonts/Metropolis-Black.woff') format('woff')
  font-weight $black
  font-style normal

@font-face
  font-family 'Metropolis'
  src url('../fonts/Metropolis-BlackItalic.woff') format('woff')
  font-weight $black
  font-style italic

@font-face
  font-family 'Metropolis'
  src url('../fonts/Metropolis-Bold.woff') format('woff')
  font-weight $bold
  font-style normal

@font-face
  font-family 'Metropolis'
  src url('../fonts/Metropolis-BoldItalic.woff') format('woff')
  font-weight $bold
  font-style italic

@font-face
  font-family 'Metropolis'
  src url('../fonts/Metropolis-ExtraBold.woff') format('woff')
  font-weight $extrabold
  font-style normal

@font-face
  font-family 'Metropolis'
  src url('../fonts/Metropolis-ExtraBoldItalic.woff') format('woff')
  font-weight $extrabold
  font-style italic

@font-face
  font-family 'Metropolis'
  src url('../fonts/Metropolis-ExtraLight.woff') format('woff')
  font-weight $extralight
  font-style normal

@font-face
  font-family 'Metropolis'
  src url('../fonts/Metropolis-ExtraLightItalic.woff') format('woff')
  font-weight $extralight
  font-style italic

@font-face
  font-family 'Metropolis'
  src url('../fonts/Metropolis-Light.woff') format('woff')
  font-weight $light
  font-style normal

@font-face
  font-family 'Metropolis'
  src url('../fonts/Metropolis-LightItalic.woff') format('woff')
  font-weight $light
  font-style italic

@font-face
  font-family 'Metropolis'
  src url('../fonts/Metropolis-Medium.woff') format('woff')
  font-weight $medium
  font-style normal

@font-face
  font-family 'Metropolis'
  src url('../fonts/Metropolis-MediumItalic.woff') format('woff')
  font-weight $medium
  font-style italic

@font-face
  font-family 'Metropolis'
  src url('../fonts/Metropolis-Regular.woff') format('woff')
  font-weight $regular
  font-style normal

@font-face
  font-family 'Metropolis'
  src url('../fonts/Metropolis-RegularItalic.woff') format('woff')
  font-weight $regular
  font-style italic

@font-face
  font-family 'Metropolis'
  src url('../fonts/Metropolis-SemiBold.woff') format('woff')
  font-weight $semibold
  font-style normal

@font-face
  font-family 'Metropolis'
  src url('../fonts/Metropolis-SemiBoldItalic.woff') format('woff')
  font-weight $semibold
  font-style italic

@font-face
  font-family 'Metropolis'
  src url('../fonts/Metropolis-Thin.woff') format('woff')
  font-weight $thin
  font-style normal

@font-face
  font-family 'Metropolis'
  src url('../fonts/Metropolis-ThinItalic.woff') format('woff')
  font-weight $thin
  font-style normal

.metropolis-black
  font-family 'Metropolis'
  font-weight $black
  -webkit-font-smoothing antialiased

.metropolis-blackitalic
  font-family 'Metropolis'
  font-style italic
  font-weight $black
  -webkit-font-smoothing antialiased

.metropolis-bold
  font-family 'Metropolis'
  font-weight $bold
  -webkit-font-smoothing antialiased

.metropolis-bolditalic
  font-family 'Metropolis'
  font-style italic
  font-weight $bold
  -webkit-font-smoothing antialiased

.metropolis-extrabold
  font-family 'Metropolis'
  font-weight $extrabold
  -webkit-font-smoothing antialiased

.metropolis-extrabolditalic
  font-family 'Metropolis'
  font-style italic
  font-weight $extrabold
  -webkit-font-smoothing antialiased

.metropolis-extralight
  font-family 'Metropolis'
  font-weight $extralight
  -webkit-font-smoothing antialiased

.metropolis-extralightitalic
  font-family 'Metropolis'
  font-style italic
  font-weight $extralight
  -webkit-font-smoothing antialiased

.metropolis-light
  font-family 'Metropolis'
  font-weight $light
  -webkit-font-smoothing antialiased

.metropolis-lightitalic
  font-family 'Metropolis'
  font-style italic
  font-weight $light
  -webkit-font-smoothing antialiased

.metropolis-medium
  font-family 'Metropolis'
  font-weight $medium
  -webkit-font-smoothing antialiased

.metropolis-mediumitalic
  font-family 'Metropolis'
  font-style italic
  font-weight $medium
  -webkit-font-smoothing antialiased

.metropolis-regular
  font-family 'Metropolis'
  font-weight $regular
  -webkit-font-smoothing antialiased

.metropolis-regularitalic
  font-family 'Metropolis'
  font-style italic
  font-weight $regular
  -webkit-font-smoothing antialiased

.metropolis-semibold
  font-family 'Metropolis'
  font-weight $semibold
  -webkit-font-smoothing antialiased

.metropolis-semibolditalic
  font-family 'Metropolis'
  font-style italic
  font-weight $semibold
  -webkit-font-smoothing antialiased

.metropolis-thin
  font-family 'Metropolis'
  font-weight $thin
  -webkit-font-smoothing antialiased

.metropolis-thinitalic
  font-family 'Metropolis'
  font-style italic
  font-weight $thin
  -webkit-font-smoothing antialiased
