.btn
  align-items center
  background-color $blueT1
  border none
  color $whiteT1
  display flex
  font-size 11px
  height 37px
  letter-spacing 2.1px
  padding 0 13px
  text-indent 2.1px
  text-transform uppercase
  transition 0.3s
  width fit-content

  &:hover
    background-color $blueT5
    transition 0.3s

  &.borderBlack
    background-color $whiteT1
    border solid 1px $blackT2
    color $blackT2

    &:hover
      background-color $blueT1
      border solid 1px $blueT1
      color $whiteT1

  &.transparent
    background-color transparent
    border solid 1px $whiteT1
    color $whiteT1

    &:hover
      background-color $whiteT1
      color $blackT2

  &.white
    background-color $whiteT1
    border solid 1px $blueT1
    color $blueT1

.section-tag
  border-radius 16px
  color $whiteT1
  display inline-block
  font-size 10px
  height 21px
  justify-content center
  letter-spacing 0.5px
  line-height 21px
  position absolute
  text-align center
  vertical-align middle
  width 120px

  & img
    height 8px
    margin-left 5px
    width 8.5px

.vertical-text
  color $blackT2
  font-size 9px
  letter-spacing 2.2px
  position absolute
  text-transform uppercase
  transform rotate(90deg)

  &:after
    background-color $blackT2
    content ""
    display inline-block
    height 1px
    margin-left 10px
    vertical-align middle
    width 20px

@keyframes scrollCoverBrowser
  10%
    -webkit-transform translateY(0%)
    -ms-transform translateY(0%)
    transform translateY(0%)

  50%
    -webkit-transform translateY(calc(-50% + 285px))
    -ms-transform translateY(calc(-50% + 285px))
    transform translateY(calc(-50% + 285px))

  100%
    -webkit-transform translateY(calc(-100% + 570px))
    -ms-transform translateY(calc(-100% + 570px))
    transform translateY(calc(-100% + 570px))

@-webkit-keyframes scrollCoverBrowser
  10%
    -webkit-transform translateY(0%)
    -ms-transform translateY(0%)
    transform translateY(0%)

  50%
    -webkit-transform translateY(calc(-50% + 285px))
    -ms-transform translateY(calc(-50% + 285px))
    transform translateY(calc(-50% + 285px))

  100%
    -webkit-transform translateY(calc(-100% + 570px))
    -ms-transform translateY(calc(-100% + 570px))
    transform translateY(calc(-100% + 570px))

@keyframes fadeUpAndDown
   0%
     top 12%

   50%
     top 15%

   100%
     top 12%
