// COLORS
$errorColor = #ff3636
$successColor = #149a14

$blackT1 = #292929
$blackT2 = #313131
$blackT3 = #191512
$blueT1 = #2c6ebe
$blueT2 = #1f4f89
$blueT3 = #768c9b
$blueT4 = #2682f2
$blueT5 = #1e5699
$grayT1 = #f8f8f8
$grayT2 = #989898
$grayT3 = #c3c3c3
$grayT4 = #bababa
$whiteT1 = #ffffff

// Base font-size
$baseFontSize = 16

// Font weights
$thin = 100
$hairline = $thin
$extralight = 200
$ultralight = $extralight
$light = 300
$normal = 400
$regular = $normal
$medium = 500
$semibold = 600
$demibold = $semibold
$bold = 700
$extrabold = 800
$ultrabold = $extrabold
$black = 900
$heavy = $black